<!DOCTYPE html>
<html>

<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #ECF5FA;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>操作异常</title>

    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/widget.css" type="text/css" />
</head>
<script type="text/javascript">
    function backButton(){
        window.opener=null;
        window.close();
        self.location=document.referrer;
    }
</script>

<body>


<div class="container parent_h">
    <img th:src="@{/images/page_tips_icon.png}" style="width: 40%; height: auto">
    <div>
        <p class="tips_fail_text_style">500！服务器做错事正在悔过!</p>
        <button class="gray_button_style" value="" onclick="backButton()" style="margin-left: 10px;width: 150px">返回上一级界面</button>
    </div>

</div>

</body>
</html>