.text_navigation{
    font-size:12px;
    color: #666666;
    /*height: 30px;*/
    vertical-align: center;
    line-height: 30px;
}
.text_highlight{
    font-size:18px;
    color: #FF6600;
}
.line_style{
    width: 100%;
    height: 1px;
}
.search_text_style{
    font-size:10px;
    color: #666666;
    height: 10px;
}
.text_style{
    font-size:10px;
    color: #666666;
    height: 10px;
    vertical-align: center;
}
.hints_text_style{
    font-size:8px;
    color: #999999;
    height: 10px;
    vertical-align: center;
}
.hyperlink_style{
    font-size: 8px;
    color: #FF6600;
    cursor:pointer;
}

.error_text_style{
    font-size: 10px;
    color: #FF6600;
}

div.parent {
    /* 启用弹性盒布局 */
    display: flex;
    /* 使子元素垂直居中 */
    align-items: center;
}
div.parent_h {
    /* 启用弹性盒布局 */
    display: flex;
    /* 使子元素水平居中*/
    justify-content: center;
    /* 使子元素垂直居中
    align-items: center;*/
}

.weixin_pic_style{
    width: 20%;
    box-shadow: 2px 4px 6px #999999;
    margin-top: 30px;
    margin-left: 30px;
}

.modle_background_style{
    background-color:#FFFFFF;
    border: none;
    border-radius: 5px;
}

.modle_gray_background_style{
    background-color:#F0F0F0;
    border: none;
    border-radius: 5px;
}

.markerting_card_bg_style{
    /*background-color:#F5F6F8;*/
    width: 200px;
    height: 60px;
    border:1px solid #e16531;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #999999;
    cursor:pointer;
}

.container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.see_modify{
    width:45px;
    height: 30px;
    background-size: 100% 100%;
    vertical-align: middle;
    cursor:pointer;
}
.source_icon_style{
    width:30px;
    height: 30px;
    background-size: 100% 100%;
    vertical-align: middle;
    cursor:pointer;
}

.detail_value_style{
    font-size:15px;
    color: #000000;
    vertical-align: center;
}
.detail_lable_style{
    font-size:12px;
    color: #666666;
    height: 10px;
    vertical-align: center;
}

.image_size_style{
    width: 21px;
    height: 21px;
    margin-left: 20px;
    border: 0px;
    margin-right: 10px;
}

.image_middle_size_style{
    width: 16px;
    height: 16px;
    margin-left: 20px;
    border: 0px;
    margin-right: 10px;
}

.image_mini_size_style{
    width: 13px;
    height: 13px;
    margin-left: 20px;
    border: 0px;
    margin-right: 10px;
}


.icon_style{
    width: 21px;
    height: 21px;
    margin-left: 10px;
    border: 0px;
    margin-right: 10px;
}

.icon_middle_style{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
}

.tips_fail_text_style{
    font-size:23px;
    color: #a5a5a5;
}
.tips_fail_mini_text_style{
    font-size:18px;
    color: #707070;
}

.empty_text_style{
    font-size:16px;
    color: #a5a5a5;
}

.top_view_style{
    width: 100%;
    height: 50px;
    background-color: #F4F4F4;
    border-bottom:1px solid #e0dfe3;
}
#footer {
    color: #666666;
    font-size: 6px;
    text-align: center;

    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    /*position: fixed;*/
    bottom: 0;
}
div.modle {
    /* 启用弹性盒布局 */
    display: flex;
    align-items: flex-start
}

.refresh_but {
    background-color: #e16531;
    color: #FFFFFF;
    padding: 10px;
    cursor:pointer;
}

.icon_size_style{
    width: 23px;
    height: 23px;
    border: 0px;
}

.icon_mini_size_style{
    width: 20px;
    height: 20px;
    border: 0px;
}

.gary_card_bg_style{
    width: 22%;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    border:1px solid #f1f1e3;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #999999;
    cursor:pointer;
}

.report_lable_style{
    font-size:13px;
    color: #707070;
}

.report_pos_lable_style{
    font-size:13px;
    color: #707070;
}

.lable_button_style{
    font-size:10px;
    color: #707070;
    /*background-color: #e1e1e1;*/
    border: 0px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor:pointer;
}

.lable_button_click_style{
    font-size:10px;
    color: #FFFFFF;
    background-color: #ff5500;
    cursor:pointer;
    border: 0px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.brand_head_select_style{
    border-bottom:2px solid #ff5500;
    height: 53px;
    width: 122px;
    cursor: pointer;
    font-size: 12px;
    color: #ff5500;
    line-height: 25px;
    text-align: center;

}

.brand_head_defort_stype{
    border-bottom:2px solid #000000;
    height: 53px;
    width: 120px;
    cursor: pointer;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;

}

.tradeprivilegeBg{
    height: 50px;
    width: 50%;
    background-color: #e1e1e1;
    border-radius: 5px;
    font-size: 15px;
    color: #ff5500;
}
.dialog_title_style{
    font-size:16px;
    font-weight:bold;
    color: #000000;
}

.right_border_radius{
     width: 200px;
     height: 60px;
     border:1px solid #D0F0E3;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }

.left_border_radius{
    width: 60px;
    height: 60px;
    border:1px solid #D0F0E3;
    background-color: #D0F0E3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right_border_radius_green{
    width: 200px;
    height: 60px;
    border:1px solid #dff1ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left_border_radius_green{
    width: 60px;
    height: 60px;
    border:1px solid #dff1ff;
    background-color: #dff1ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}