.blue_button_style{
    font-size: 8px;
    color: white;
    background-color: #169BD5;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    text-align:center;
    padding: auto;
}
.gray_button_style{
    font-size: 8px;
    color: #FFFFFF;
    background-color: #F4B183;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    text-align:center;
}
.orange_button_style{
    font-size: 8px;
    color:#ffffff;
    background-color: #FF6600;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.orange_mine_button_style{
    font-size: 8px;
    color:#ffffff;
    background-color: #FF6600;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.blue_mine_button_style{
    font-size: 8px;
    color: white;
    background-color: #169BD5;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    text-align:center;
    padding: auto;
}


.blue_add_pic_style{
    font-size: 8px;
    color: white;
    background-color: #169BD5;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.select_style{
    width: 140px;
    height: 30px;
    padding-left: 4px;
    vertical-align: center;
    border:1px solid #CCCCCC;
    -webkit-border-radius:1px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    background:#ffffff;
    font-size:8px;
    color: #333333;
    cursor: pointer;
}
.select_min_style{
    width: 110px;
    height: 30px;
    padding-left: 4px;
    vertical-align: center;
    border:1px solid #CCCCCC;
    -webkit-border-radius:1px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    background:#ffffff;
    font-size:8px;
    color: #333333;
    cursor: pointer;
}
.input_style{
    font-size: 8px;
    width: 140px;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    color: #333333;
    border:1px solid #CCCCCC;
}

.input_min_style{
    font-size: 8px;
    width: 135px;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    color: #333333;
    border:1px solid #CCCCCC;
}

.input_least_mini_style{
    font-size: 8px;
    width: 100px;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    color: #333333;
    border:1px solid #CCCCCC;
}

.add_input_style{
    width: 200px;
    height: 28px;
    color: #333333;
    padding: 3px;
    border:1px solid #CCCCCC;
}
/*表格样式---------start--------*/
.gridtablestyle {
    font-family: verdana,arial,sans-serif;
    font-size:8px;
    color:#333333;
    border-width: 1px;
    border-color: #e9e9e9;
    border-collapse: collapse;
}
.gridtablestyle th {
    border-width: 1px;
    height: 40px;
    padding: 2px;
    min-width: 100px;
    border-style: solid;
    border-color: #e9e9e9;
    background-color: #f7f7f7;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.gridtablestyle td {
    border-width: 1px;
    font-size: 12px;
    height: 40px;
    padding: 2px;
    border-style: solid;
    border-color: #e9e9e9;
    background-color: #ffffff;
    text-align: center;
}

/*添加界面表格样式---------start--------*/
.inputpagetablestyle {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color: #FFFFFF;
    border-width: 0px;
    border-collapse: collapse;
}
.inputpagetablestyle td {
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #ffffff;
}
/*表格样式---------end--------*/
