<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>活动推送列表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />
</head>

<script type="text/javascript">

</script>

<body>
<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 30%">营销 》活动推送</label>

    <div align="right" style="width: 100%;margin-right: 50px">
        <button class="blue_button_style" value="" th:onclick="@{|location='${basePath}/pushPlanActivity/addPlanActivityPage'|}" onclick="location='../marketing/addcoupon.html'">+新建活动</button>

        <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/home'|}" style="margin-left: 10px">返回</button>
    </div>
</div>


<form method="post" action="" th:action="@{/pushPlanActivity}" th:object="${searchModel}">
<div style="margin-top: 10px">

    <label class="text_navigation" style="margin-left: 100px">状态</label>
    <select class="select_style" name="planState" style="margin-left: 5px">
        <option value="">全部</option>
        <option th:selected="${searchModel.planState==1}" th:value="1">已投放</option>
        <option th:selected="${searchModel.planState==2}" th:value="2">已停用</option>
    </select>

    <label class="text_navigation" style="margin-left: 10px">活动名称</label>
    <input class="input_style" style="margin-left: 5px" type="text" th:value="${searchModel.name}" name="name"/>

    <button class="orange_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>

</div>
</form>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
        <tr style="width: 100%">
            <th>活动名称</th>
            <th>状态</th>
            <th>活动投放时间</th>
            <th>活动结束时间</th>
            <th>浏览次数</th>
            <th>分享次数</th>
            <th>操作</th>
        </tr>
        <tr th:each="item:${list}">
            <td th:text="${item.name}"></td>
            <td>
                <div th:switch="${item.planState}">
                    <p th:case="'1'">
                        投放中
                    </p>
                    <p th:case="'2'">
                        停止
                    </p>
                </div>
            </td>
            <td th:text="${#dates.format(item.beginTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${item.scanNumber}"></td>
            <td th:text="${item.shareNumber}"></td>
            <td align="center">
                <a href="activityadd.html" th:href="@{/pushPlanActivity/gotoActivityPage(id=${item.id})}">编辑</a>
                <a href="activityadd.html" th:href="@{/pushPlanActivity/updateState(id=${item.id}, planState=1)}">投放</a>
                <a href="activityadd.html" th:href="@{/pushPlanActivity/updateState(id=${item.id}, planState=2)}">停用</a>
                <a href="activityadd.html" th:href="@{/pushPlanActivity/delelte(id=${item.id})}">删除</a>
            </td>

        </tr>

    </table>
</div>

<div class="paging">

    <div th:replace="page_info::pagination"/>

</div>




</body>
</html>
