<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>特价活动效果</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>

<script type="text/javascript">


</script>

<body>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 96%; vertical-align: middle">
        <tr style="width: 100%">
            <th>操作</th>
            <th>顾客</th>
            <th>推荐成单数</th>

        </tr>
        <tr th:each="item:${list}">
            <td>
                <input type="checkbox">
            </td>
            <td>
                <div class="parent container">
                    <img style="height: 36px;width: auto;margin-right: 5px" th:src="${item.mainWxPhoto}" src="https://wx.qlogo.cn/mmopen/vi_32/SEqTQhLC64kJFicxclAywVS9bwicZhmbr2fhVz02kwdAOBUn43EjkXoPltHerOQCZAToK3kk5eRAC64aZplVhd4w/132">
                    <span th:text="${item.mainCustomerName}">Calme</span>
                </div>
            </td>

            <td th:text="${item.id}">2</td>

        </tr>

    </table>
</div>

<div class="paging" style="margin-bottom: 36px">
    <div th:replace="page_info::pagination"/>
</div>




</body>
</html>
