<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>特价活动添加</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />

    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js"></script>


    <link th:href="@{/upload/upload-one.css}" type="text/css" href="../static/upload/upload-one.css" rel="stylesheet" />
    <script th:src="@{/upload/upload-one.js}" src="../static/upload/upload-one.js"></script>

    <!-- tips 提示框引用-->
    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}" href="../static/tips/jquery.toast.css">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}" src="../static/tips/jquery.toast.js"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}" src="../static/tips/tips.js"></script>
</head>


<script type="text/javascript">

    $(function () {
        $("#dish_select").click(function () {
            $('.zm-dialog').load('[[${basePath}]]/dish/selectShopPage'); //#container

        })
    });

    function setDishInfo(dishId, dishName, dishPrice, dishDesc) {
        $("#productId").attr('value', dishId);
        $("#productName").attr('value', dishName);
        $("#originalPrice").attr('value', dishPrice);

    };


    function sendForm(type) {
        var name = document.getElementById("name").value.replace(/(^\s*)|(\s*$)/g, '');
        var profile = document.getElementById("profile").value.replace(/(^\s*)|(\s*$)/g, '');
        var beginTime = document.getElementById("beginTime").value.replace(/(^\s*)|(\s*$)/g, '');
        var endTime = document.getElementById("endTime").value.replace(/(^\s*)|(\s*$)/g, '');
        var productId = document.getElementById("productId").value.replace(/(^\s*)|(\s*$)/g, '');
        var originalPrice = document.getElementById("originalPrice").value.replace(/(^\s*)|(\s*$)/g, '');
        var collagePeopleCount = document.getElementById("collagePeopleCount").value.replace(/(^\s*)|(\s*$)/g, '');
        var collagePrice = document.getElementById("collagePrice").value.replace(/(^\s*)|(\s*$)/g, '');
        var maxOpenGroup = document.getElementById("maxOpenGroup").value.replace(/(^\s*)|(\s*$)/g, '');
        var validityPeriod = document.getElementById("validityPeriod").value.replace(/(^\s*)|(\s*$)/g, '');
        // var uploadInput = $(".img-show");

        if(name == '' || name == undefined || name == null){
            warningTips("操作异常提示","活动名称不能为空");
        }else if(profile == '' || profile == undefined || profile == null){
            warningTips("操作异常提示","活动简介不能为空");
        }else if(beginTime == '' || beginTime == undefined || beginTime == null){
            warningTips("操作异常提示","活动开始时间不能为空");
        }else if(endTime == '' || endTime == undefined || endTime == null){
            warningTips("操作异常提示","活动结束时间不能为空");
        }else if(productId == '' || productId == undefined || productId == null){
            warningTips("操作异常提示","请选择参与拼团的品项");
        }else if(originalPrice == '' || originalPrice == undefined || originalPrice == null){
            warningTips("操作异常提示","商品原价不能为空");
        }else if(collagePeopleCount == '' || collagePeopleCount == undefined || collagePeopleCount == null){
            warningTips("操作异常提示","成团人数不能为空");
        }else if(collagePrice == '' || collagePrice == undefined || collagePrice == null){
            warningTips("操作异常提示","成团价格不能为空");
        }else if(maxOpenGroup == '' || maxOpenGroup == undefined || maxOpenGroup == null){
            warningTips("操作异常提示","最多开团数不能为空");
        }else if(validityPeriod == '' || validityPeriod == undefined || validityPeriod == null){
            warningTips("操作异常提示","使用有效期不能为空");
        }
        // else if(uploadInput.length == 0){
        //     warningTips("操作异常提示","活动图片不能为空");
        // }
        else{
            document.getElementById("enabledFlag").value = type;
            document.addform.submit();
        }

    }

    $(function () {
        $("#showCoupon").click(function () {
            $('.zm-dialog').load('[[${basePath}]]/coupon/showSelectCoupon');
        })
    });

    function setCouponInfo(couponId,couponName) {
        document.getElementById("giftId").value = couponId;
        document.getElementById("giftName").value = couponName;
    };

</script>

<body>
<section class="mark-details" style="width: 100%">

    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 10px; width: 30%">营销 》特价活动 》推荐成单红包设置</label>
        <div align="right" style="width: 100%;margin-right: 50px">
            <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/activity/intoSettingGift?id=${activityId}'|}" style="margin-left: 10px">返回上一步</button>
        </div>
    </div>


    <div class="parent_h container" style="margin-top: 20px;">

        <DIV class="dotted_line"></DIV>
        <span class="round_style">1</span><div style="margin-left: 10px;font-size: 14px;color: #e16531">基本信息</div>
        <DIV class="dotted_line"></DIV>
        <div class="round_style">2</div><div style="margin-left: 10px;font-size: 14px;color: #e16531">推荐成单礼品设置</div>
        <DIV class="dotted_line"></DIV>
        <div class="current_round_style">3</div><div style="margin-left: 10px;font-size: 14px;color: #faccaf">推荐红包设置</div>
        <DIV class="dotted_line"></DIV>
    </div>

    <img class="line_style" th:src="@{/images/line.jpg}" src="../static/images/line.jpg" style="margin-top: 20px;margin-bottom: 20px">

    <form method="post" name="addform" action="" th:action="@{/activity/addRedPacketsRule}">

        <div style="margin-left: 30px">
            <input type="hidden" name="activityId" id="activityId" th:value="${activityId}">
            <input type="text" name="id" id="id" th:value="${redPackets.id}">

            <div class="parent">
                <img th:src="@{/images/lable.jpg}" src="../static/images/lable.jpg" style="height: 25px; width: 4px">
                <label class="text_navigation" style="margin-left: 10px; font-weight: bold">直接推荐红包设置</label> <h6>（A推荐B,B消费后A获取随机红包）</h6>
            </div>

            <label class="text_navigation" style="margin-left: 20px">随机最小红包：</label>
            <input class="add_input_style" placeholder="请输入随机最小红包金额" th:value="${redPackets.firstMinAmount}" style="margin-left: 5px;margin-right: 10px" type="text"  name="firstMinAmount" id="firstMinAmount"/>
            ----
            <label class="text_navigation" style="margin-left: 10px;">随机最大红包：</label>
            <input class="add_input_style" placeholder="请输入随机最大红包金额" th:value="${redPackets.firstMaxAmount}" style="margin-left: 5px" type="text"  name="firstMaxAmount" id="firstMaxAmount"/>

            <div class="parent" style="margin-top: 20px">
                <img th:src="@{/images/lable.jpg}" src="../static/images/lable.jpg" style="height: 25px; width: 4px">
                <label class="text_navigation" style="margin-left: 10px; font-weight: bold">间接推荐红包设置</label><h6>（A推荐B,B推荐C,C购买后A获取随机红包）</h6>
            </div>

            <label class="text_navigation" style="margin-left: 20px">随机最小红包：</label>
            <input class="add_input_style" placeholder="请输入随机最小红包金额" th:value="${redPackets.secondMinAmount}" style="margin-left: 5px;margin-right: 10px" type="text"  name="secondMinAmount" id="secondMinAmount"/>
            ----
            <label class="text_navigation" style="margin-left: 10px;">随机最大红包：</label>
            <input class="add_input_style" placeholder="请输入随机最大红包金额" th:value="${redPackets.secondMaxAmount}" style="margin-left: 5px" type="text"  name="secondMaxAmount" id="secondMaxAmount"/>


        </div>


        <div class="parent_h" style="margin-top: 20px;margin-bottom: 36px">


            <button class="blue_button_style" onclick="submitForm()" style="margin-left: 10px">保存</button>


        </div>


    </form>


</section>
<div class='zm-dialog'/>

</body>

</html>
