<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    .container {
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素水平居中
        justify-content: center;
        */
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>优惠券列表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />
</head>

<script type="text/javascript">

    function checkDelete(deleteId,name){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/internal/brand/marketing/coupon/deleteData?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }

    $(function() {
        $("div[name='send']").click(function(){
            var relatedId = $(this).attr("id");
            $('.zm-dialog').load('[[${basePath}]]/internal/brand/gotToSelectShop?relatedId='+relatedId+'&type=2'); //#container
        });

        $("div[name='refresh']").click(function(){
            var relatedId = $(this).attr("id");
            $.ajax({
                url: '[[${basePath}]]/internal/brand/marketing/coupon/refreshData',
                data: {
                    sourceId:relatedId
                },
                type: "post",
                dataType: 'json',
                error:function(xml){
                    alert('刷新下发数据失败，请稍后重试！');
                },
                success: function (status) {
                    alert('刷新下发数据成功！');

                }

            });

        });
    });

    function selectShopList(ids,sourceId) {

        $.ajax({
            url: '[[${basePath}]]/internal/brand/marketing/coupon/sendToShop',
            data: {
                selectShopList: ids.join(','),
                sourceId:sourceId
            },
            type: "post",
            dataType: 'json',
            error:function(xml){
                alert('投放失败，请稍后重试！');
            },
            success: function (status) {
                alert('投放成功！');

            }

        });

    };

</script>

<body>
<div id="showDialog"></div>

<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 30%">营销 》优惠券推送</label>

    <div align="right" style="width: 100%;margin-right: 50px">
        <button class="blue_button_style" value="" th:onclick="@{|location='${basePath}/internal/brand/marketing/coupon/goToAddOrEdit'|}">+新建优惠券</button>
        <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/internal/brand/marketing/main'|}" style="margin-left: 10px">返回</button>
    </div>
</div>

<form method="post" action="couponadd.html" th:action="@{/internal/brand/marketing/coupon/list}" th:object="${searchModel}">
    <div style="margin-top: 10px">
        <label class="text_navigation" style="margin-left: 100px">类型</label>
        <select name="couponType" class="select_style" style="margin-left: 5px">
            <option value="0" th:selected="*{couponType==0}">全部</option>
            <option value="1" th:selected="*{couponType==1}">折扣券</option>
            <option value="2" th:selected="*{couponType==2}">代金券</option>
            <option value="3" th:selected="*{couponType==3}">礼品券</option>
        </select>

        <label class="text_navigation" style="margin-left: 10px">状态</label>
        <select name="couponState" class="select_style" style="margin-left: 5px">
            <option value="0" th:selected="*{couponState==0}">全部</option>
            <option value="1" th:selected="*{couponState==1}">进行中</option>
            <option value="2" th:selected="*{couponState==2}">已停止</option>
        </select>

        <label class="text_navigation" style="margin-left: 10px">方案名称</label>
        <input class="input_style" style="margin-left: 5px" type="text" name="keyWord" th:value="${searchModel.keyWord}" />

        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>

    </div>
</form>
<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
        <tr style="width: 100%">
            <th>优惠券名称</th>
            <th>类型</th>
            <th>状态</th>
            <th>投放起始时间</th>
            <th>活动有效时间</th>
            <th>投放数量</th>
            <th>已使用数量</th>
            <th>数据操作</th>
            <th>投放操作</th>
        </tr>
        <tr th:each="item:${list}">
            <td th:text="${item.name}" />
            <td th:text="${item.obtainCouponTypeStr()}" />
            <td th:text="${item.obtainStateStr()}" />
            <td th:text="${item.serverCreateTime}" />
            <td th:text="${item.endTime}" />
            <td th:text="${item.pushNumber}" ／>
            <td th:text="${item.useNumber}" ／>
            <td align="center">
                <div class="parent_h container">
                    <a href="/" th:href="@{/internal/brand/marketing/coupon/goToAddOrEdit(id=${item.id})}" style="text-decoration: none">编辑</a>
                    <div th:switch="${item.couponState}">
                        <p th:case="'1'">
                            <a href="/" th:href="@{/internal/brand/marketing/coupon/disable(id=${item.id},couponState=2)}" style="text-decoration: none">&nbsp;&nbsp;停用</a>
                        </p>
                        <p th:case="'2'">
                            <a href="/" th:href="@{/internal/brand/marketing/coupon/enable(id=${item.id}, couponState=1)}" style="text-decoration: none">&nbsp;&nbsp;投放</a>
                        </p>
                    </div>
                    <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">&nbsp;&nbsp;删除</a>
                </div>

            </td>
            <td>
                <div class="parent_h container">

                    <div name="send" th:id="${item.id}" style="cursor: pointer">
                        <img class="icon_size_style" style="display: inline"  th:src="@{/images/send_to.png}" align="absmiddle"/>
                        <span>投放</span>
                    </div>

                    <div name="refresh" th:id="${item.id}" style="cursor: pointer">
                        <img class="icon_size_style" style="margin-left: 10px; display: inline" th:src="@{/images/refresh_icon.png}" align="absmiddle"/>
                        <span>刷新下发数据</span>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>
    <div th:replace="page_info::pagination"/>

<div class='zm-dialog' />

</body>
</html>
