<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>门店列表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>

</head>

<script type="text/javascript">

    $(function() {
        $("#selectAll").change(function(){
            var isChecked = document.getElementById("selectAll").checked;
            if(isChecked == true){
                $("input[type='checkbox']").attr("checked","true");
            }else{
                $("input[type='checkbox']").removeAttr("checked");
            }

        });
    });

</script>

<body>

<form method="post" name="addfrom" th:action="@{/internal/brand/selectShopList}" th:object="${mShopSearchModel}">
    <div style="margin-top: 10px">

        <input type="hidden" name="brandIdenty" th:value="${mShopSearchModel.brandIdenty}">

        <label class="text_navigation" style="margin-left: 20px">是否投放</label>
        <select class="select_style" name="invalidStatus" style="margin-left: 5px;width: 130px">
            <option value="">全部</option>
            <option th:selected="${mShopSearchModel.invalidStatus==1}" th:value="1">已投放</option>
            <option th:selected="${mShopSearchModel.invalidStatus==2}" th:value="2">未投放</option>
        </select>

        <label class="text_navigation" style="margin-left: 20px">门店状态</label>
        <select class="select_style" name="invalidStatus" style="margin-left: 5px;width: 130px">
            <option value="">全部</option>
            <option th:selected="${mShopSearchModel.invalidStatus==1}" th:value="1">营业中</option>
            <option th:selected="${mShopSearchModel.invalidStatus==2}" th:value="2">停止营业</option>
        </select>

        <label class="text_navigation" style="margin-left: 10px">门店名称</label>
        <input class="input_style" style="margin-left: 5px" type="text" th:value="${mShopSearchModel.commercialName}" name="commercialName"/>

        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>

    </div>
</form>


<div align="center" style="margin-top: 10px;margin-bottom: 10px">

    <table class="gridtablestyle" style="width: 96%; vertical-align: middle;">
        <tr style="width: 100%">
            <th><input type="checkbox" id="selectAll">&nbsp;&nbsp;全选</th>
            <th>门店名称</th>
            <th>地区</th>
            <th>门店状态</th>
        </tr>
        <tr th:each="item:${listShop}">
            <td>
                <input type="checkbox" th:value="${item.commercialId}" th:id="${item.commercialId}" th:dishName="${item.commercialName}" name="selectShop">
            </td>
            <td th:text="${item.commercialName}"></td>
            <td><span th:text="${item.province}"></span>-<span th:text="${item.city}"></span>-<span th:text="${item.area}"></span></td>
            <td>
                <div th:switch="${item.invalidStatus}">
                    <p th:case="'1'">
                        营业中
                    </p>
                    <p th:case="'2'">
                        停止营业
                    </p>
                </div>
            </td>

        </tr>
    </table>
</div>


</body>
</html>
