<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>活动推送列表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />
</head>

<script type="text/javascript">

    function checkDelete(deleteId, name){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/brand/pushPlanActivity/delelte?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }


    $(function() {
        $("div[name='send']").click(function(){
            var relatedId = $(this).attr("id");
            $('.zm-dialog').load('[[${basePath}]]/internal/brand/gotToSelectShop?relatedId='+relatedId+'&type=3'); //#container
        });

        $("div[name='refresh']").click(function(){
            var relatedId = $(this).attr("id");
            showLoading('正在刷新投放数据，请稍后...');
            $.ajax({
                url: '[[${basePath}]]/internal/brand/pushPlanActivity/refreshData',
                data: {
                    sourceId:relatedId
                },
                type: "post",
                dataType: 'json',
                error:function(xml){
                    hideLoading();
                    alert('刷新下发数据失败，请稍后重试！');
                },
                success: function (status) {
                    hideLoading();
                    alert('刷新下发数据成功！');

                }

            });

        });
    });

    function selectShopList(ids,sourceId) {
        showLoading("活动正在投放中，请稍后...");
        $.ajax({
            url: '[[${basePath}]]/brand/pushPlanActivity/sendToShop',
            data: {
                selectShopList: ids.join(','),
                sourceId:sourceId
            },
            type: "post",
            dataType: 'json',
            error:function(xml){
                hideLoading();
                alert('投放失败，请稍后重试！');

            },
            success: function (status) {
                hideLoading();
                alert('投放成功！');

            }

        });

    };

</script>

<body>
<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 30%">营销 》活动推送</label>

    <div align="right" style="width: 100%;margin-right: 50px">
        <button class="blue_button_style" value="" th:onclick="@{|location='${basePath}/brand/pushPlanActivity/addPlanActivityPage'|}" onclick="location='../marketing/addcoupon.html'">+新建活动</button>

        <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/internal/brand/marketing/main'|}" style="margin-left: 10px">返回</button>
    </div>
</div>

<div id="showDialog"></div>

<form method="post" action="" th:action="@{/brand/pushPlanActivity/list}" th:object="${searchModel}">
<div style="margin-top: 10px">

    <label class="text_navigation" style="margin-left: 100px">状态</label>
    <select class="select_style" name="planState" style="margin-left: 5px">
        <option value="">全部</option>
        <option th:selected="${searchModel.planState==1}" th:value="1">已投放</option>
        <option th:selected="${searchModel.planState==2}" th:value="2">已停用</option>
    </select>

    <label class="text_navigation" style="margin-left: 10px">活动名称</label>
    <input class="input_style" style="margin-left: 5px" type="text" th:value="${searchModel.name}" name="name"/>

    <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>

</div>
</form>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
        <tr style="width: 100%">
            <th>活动名称</th>
            <th>状态</th>
            <th>活动投放时间</th>
            <th>活动结束时间</th>
            <th>浏览次数</th>
            <th>分享次数</th>
            <th>数据操作</th>
            <th>投放操作</th>
        </tr>
        <tr th:each="item:${list}">
            <td th:text="${item.name}"></td>
            <td>
                <div th:switch="${item.planState}">
                    <p th:case="'1'">
                        投放中
                    </p>
                    <p th:case="'2'">
                        停止
                    </p>
                </div>
            </td>
            <td th:text="${#dates.format(item.beginTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${item.scanNumber}"></td>
            <td th:text="${item.shareNumber}"></td>

            <td align="center">
                <div class="parent_h container">
                    <a href="/" th:href="@{/brand/pushPlanActivity/gotoActivityPage(id=${item.id})}" style="text-decoration: none">编辑</a>
                    <div th:switch="${item.planState}">
                        <p th:case="'1'">
                            <a href="/" th:href="@{/brand/pushPlanActivity/updateState(id=${item.id}, planState=2)}" style="text-decoration: none">&nbsp;&nbsp;停用</a>
                        </p>
                        <p th:case="'2'">
                            <a href="/" th:href="@{/brand/pushPlanActivity/updateState(id=${item.id}, planState=1)}" style="text-decoration: none">&nbsp;&nbsp;投放</a>
                        </p>
                    </div>
                    <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">&nbsp;&nbsp;删除</a>
                </div>

            </td>
            <td>
                <div class="parent_h container">

                    <div name="send" th:id="${item.id}" style="cursor: pointer">
                        <img class="icon_size_style" style="display: inline"  th:src="@{/images/send_to.png}" align="absmiddle"/>
                        <span>投放</span>
                    </div>

                    <div name="refresh" th:id="${item.id}" style="cursor: pointer">
                        <img class="icon_size_style" style="margin-left: 10px; display: inline" th:src="@{/images/refresh_icon.png}" align="absmiddle"/>
                        <span>刷新投放数据</span>
                    </div>

                </div>

        </tr>

    </table>
</div>

<div class="paging">

    <div th:replace="page_info::pagination"/>

</div>

<div class='zm-dialog' />


</body>
</html>
