<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>每日对账</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />

    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/test/jeDate-test.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/skin/jedate.css}">
    <script type="text/javascript" th:src="@{/selectdate/src/jedate.js}"></script>

    <script type="text/javascript" src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>

</head>

<script type="text/javascript">
    function exportExcel() {
        var brandIdenty = $("input[name='brandIdenty']").val();

        document.getElementById("startDate").value = document.getElementById("diyStartDate").value;
        document.getElementById("endDate").value = document.getElementById("diyEndDate").value;
        var startDate = $("input[name='startDate']").val();
        var endDate = $("input[name='endDate']").val();

        var params = "brandIdenty=" + brandIdenty +
            "&startDate=" + startDate +
            "&endDate=" + endDate;
        location.href = "[[${basePath}]]/internal/brand/report/reconciliation/excel?" + params;
    }

    function searchAction(type) {
        if(type == 1){
            document.getElementById("searchDate").value = 1;
        }else if(type == 2){
            document.getElementById("searchDate").value = 2;
        }else if(type == 3){
            document.getElementById("searchDate").value = 3;
        }else if(type == 7){
            document.getElementById("startDate").value = document.getElementById("diyStartDate").value;
            document.getElementById("endDate").value = document.getElementById("diyEndDate").value;
        }
        document.queryData.submit();

    }
</script>

<body>

<div th:if="${mPurchSaleModel.rquestSource} eq '2'">
    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 20px">每日对账报表</label>

    </div>
</div>

<div align="center" style="margin-top: 10px">

    <div align="center" style="border: #e1e1e1 solid 1px; padding-bottom: 10px;width: 95%;margin-top: 10px">
        <div class="parent" style="margin-top: 5px;margin-left: 10px;">

            <div style="font-size: 12px;color: #12306f;font-weight: bold;margin-left: 20px">查询时间：</div>

            <div th:if="${mPurchSaleModel.searchDate} eq '1'">
                <div class="lable_button_click_style" style="width: 90px" onclick="searchAction(1)">今天</div>
            </div>
            <div th:if="${mPurchSaleModel.searchDate} ne '1'">
                <div class="lable_button_style" style="width: 90px" onclick="searchAction(1)">今天</div>
            </div>


            <div th:if="${mPurchSaleModel.searchDate} eq '2'">
                <div class="lable_button_click_style" style="margin-left: 10px; width: 90px" onclick="searchAction(2)">昨天</div>
            </div>
            <div th:if="${mPurchSaleModel.searchDate} ne '2'">
                <div class="lable_button_style" style="margin-left: 10px; width: 90px" onclick="searchAction(2)">昨天</div>
            </div>

            <div th:if="${mPurchSaleModel.searchDate} eq '3'">
                <div class="lable_button_click_style" style="margin-left: 10px; width: 90px" onclick="searchAction(3)">前天</div>
            </div>
            <div th:if="${mPurchSaleModel.searchDate} ne '3'">
                <div class="lable_button_style" style="margin-left: 10px; width: 90px" onclick="searchAction(3)">前天</div>
            </div>


            <div class="parent" style="margin-left: 10px;">
                <span style="font-size:10px;color: #707070;">自定义时间</span>
                <input type="text" class="input_style" id="diyStartDate" placeholder="设置查询起始时间" th:value="${mPurchSaleModel.startDate}" style="margin-left: 5px">
                <label class="text_navigation" style="margin-left: 5px">--</label>
                <input type="text" class="input_style" id="diyEndDate" placeholder="设置查询结束时间" th:value="${mPurchSaleModel.endDate}" style="margin-left: 5px">

            </div>

        </div>



        <div class="parent" style="margin-top: 5px;padding-top: 10px;margin-left: 10px; margin-right: 10px; border-top: #e1e1e1 dashed 1px">
            <form method="post" name="queryData" id="queryData" action="" th:action="@{/internal/brand/report/reconciliation}" th:object="${mPurchSaleModel}">

                <input type="hidden" name="brandIdenty" th:value="${mPurchSaleModel.brandIdenty}">
                <input type="hidden" id="searchDate" name = "searchDate" th:value="${mPurchSaleModel.searchDate}">
                <input type="hidden" id="startDate" name = "startDate">
                <input type="hidden" id="endDate" name = "endDate">

                <span style="font-size: 12px;color: #12306f;font-weight: bold;margin-left: 20px">筛选条件：</span>

                <select class="select_style" name="shopIdenty" style="margin-left: 5px">
                    <option value="">品牌下全门店</option>
                    <option th:selected="${mPurchSaleModel.shopIdenty eq list.commercialId}" th:each="list:${listCommercial}" th:value="${list.commercialId}" th:text="${list.commercialName}"></option>
                </select>

            </form>

            <button class="orange_mine_button_style" value="" onclick="searchAction(7)" style="margin-left: 20px;">查询</button>

            <div class="parent" id="export_excel" onclick="exportExcel()" style="margin-left: 20px;margin-top: 5px;cursor:pointer;width: 150px">
                <img th:src="@{/images/excel_icon.png}" src="../static/images/excel_icon.png" style="width: 21px;height: 21px">
                <span style="font-size: 10px;margin-left: 6px">数据导出</span>
            </div>
        </div>
    </div>
</div>



<img class="line_style" th:src="@{/images/line.jpg}" style="margin-top: 10px">

<div align="center" style="margin-top: 10px;margin-bottom: 26px">
    <table class="gridtablestyle" style="width: 95%; vertical-align: middle">
        <tr style="width: 100%">
            <th>门店名称</th>
            <th>门店交易数据</th>
            <th>储值数据</th>
            <th>次卡售卖数据</th>
            <th>小程序交易数据</th>
            <th>退货数据</th>
            <th>总交易数据</th>
        </tr>
        <tr th:each="item:${listReportData}">

            <td th:text="${item.shopName}" style="padding-right: 10px;padding-left: 10px;font-weight: bold"></td>
            <td >
                笔数：<span th:text="${item.totalAmountCount}"></span><br/>
                金额：<span th:text="${item.totalAmount}"></span>
            </td>
            <td>
                笔数：<span th:text="${item.totalSaveCount}"></span><br/>
                金额：<span th:text="${item.totalSave}"></span>
            </td>
            <td>
                笔数：<span th:text="${item.totalCardCount}"></span><br/>
                金额：<span th:text="${item.totalCard}"></span>
            </td>
            <td>
                笔数：<span th:text="${item.totalWeiXinCount}"></span><br/>
                金额：<span th:text="${item.totalWeiXin}"></span>
            </td>
            <td>
                笔数：<span th:text="${item.returnCount}"></span><br/>
                金额：<span th:text="${item.returnAmount}"></span>
            </td>
            <td style="font-weight: bold">
                笔数：<span th:text="${item.salesCount}"></span><br/>
                金额：<span th:text="${item.salesAmount}"></span>
            </td>
        </tr>

    </table>
</div>

<div class="paging">

    <div th:replace="page_info::pagination"/>

</div>

</body>
</html>