<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌列表数据</title>
</head>
<body>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
        <tr style="width: 100%">
            <th>品牌名称</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>省份</th>
            <th>城市</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr th:each="item:${brandlist}">
            <td th:text="${item.name}"></td>

            <td th:text="${item.contacts}"></td>
            <td th:text="${item.shareNumber}"></td>
            <td th:text="${item.shareNumber}"></td>
            <td th:text="${item.shareNumber}"></td>
            <td>
                <div th:switch="${item.planState}">
                    <p th:case="'1'">
                        投放中
                    </p>
                    <p th:case="'2'">
                        停止
                    </p>
                </div>
            </td>

            <td align="center">
                <a href="activityadd.html" th:href="@{/pushPlanActivity/gotoActivityPage(id=${item.id})}">编辑</a>
                <a href="activityadd.html" th:href="@{/pushPlanActivity/updateState(id=${item.id}, planState=1)}">投放</a>
                <a href="activityadd.html" th:href="@{/pushPlanActivity/updateState(id=${item.id}, planState=2)}">停用</a>
                <a href="activityadd.html" th:href="@{/pushPlanActivity/delelte(id=${item.id})}">删除</a>
            </td>

        </tr>

    </table>
</div>

<div class="paging">

    <div th:replace="page_info::pagination"/>

</div>

</body>
</html>