<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在加载...</title>
</head>
<link rel="stylesheet" th:href="@{/css/public.css}" href="../css/widget.css" type="text/css" />

<style type="text/css">

    .main{
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
    }

</style>

<script type="text/javascript">



</script>
<body>

<div class="main">
    <img src="../static/images/buy_markerting_tips.png" style="width: 200px;height: auto">
    <div style="margin-top: 15px;font-size: 16px;color: #4e555b">请联系服务商（北京众美云服科技有限公司）进行购买制作使用。</div>
</div>


</body>
</html>