<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>卡项</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />
</head>

<script type="text/javascript">

    function checkDelete(deleteId, name){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/cardTime/deleteCradTime?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }

</script>
<body>

<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px;">
    <label class="text_navigation" style="margin-left: 10px">营销 》卡项</label>

    <span style="margin-left: 70%">

            <button class="blue_button_style" value="" th:onclick="@{|location='${basePath}/cardTime/gotoAddCardTime'|}">+新建卡项</button>

            <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/home'|}" style="margin-left: 10px">返回</button>
        </span>

</div>

<div id="showDialog"></div>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 96%; vertical-align: middle">
        <tr style="width: 100%">
            <th width="30%">卡项名称</th>
            <th>售价</th>
            <th>使用次数</th>
            <th>使用时长</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        <tr th:each="item:${list}">
            <td style="padding-right: 10px;padding-left: 10px" th:text="${item.name}"></td>
            <td th:text="${item.marketPrice}"></td>
            <td>
                <span th:if="${item.saleTotal} eq '-1'">
                    无限次数
                </span>
                <span th:if="${item.saleTotal} ne '-1'">
                    <span th:text="${item.saleTotal}"></span>
                </span>
            </td>
            <td>

                <span th:if="${item.minNum} eq '-1'">
                    永久有效
                </span>
                <div th:if="${item.minNum} ne '-1'" class="parent_h">
                    <span th:text="${item.minNum}"></span>

                    <span th:switch="${item.maxNum}">
                        <p th:case="'1'">
                            天
                        </p>
                        <p th:case="'2'">
                            周
                        </p>
                        <p th:case="'3'">
                            月
                        </p>
                    </span>
                </div>

            </td>
            <td th:text="${#dates.format(item.serverCreateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <td align="center">
                <a href="activityadd.html" th:href="@{/cardTime/gotoAddCardTime(id=${item.id})}">编辑</a>
                <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">删除</a>
            </td>

        </tr>

    </table>
</div>

<div class="paging" style="margin-bottom: 100px">
    <div th:replace="page_info::pagination"/>
</div>

</body>
</html>

