<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>拼团活动列表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />
</head>

<script type="text/javascript">

    function checkDelete(deleteId, name){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/collageMarketing/deleteById?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }

    function checkStop(marketingId,name) {
        var message = "如停用活动:"+name+"，参与中的顾客都将参与失败，请确认是否要执行?";
        dialogBox(message,
            function () {
                stopMarketing(marketingId);
            },
            function(){

            }
        );
    }
    
    function stopMarketing(marketingId) {

        const Url = "[[${basePath}]]/collageMarketing/updateState?id="+marketingId+"&enabledFlag=2";

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }
    }


</script>

<body>
    <div class="parent top_view_style">
        <label class="text_navigation" style="margin-left: 10px">营销 》拼团</label>

        <span style="margin-left: 70%">

            <button class="blue_button_style" value="" th:onclick="@{|location='${basePath}/collageMarketing/gotoModifyCollage'|}">+新建活动</button>

            <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/home'|}" style="margin-left: 10px">返回</button>
        </span>

    </div>

    <div id="showDialog"></div>

<form method="post" action="" th:action="@{/collageMarketing/queryListData}" th:object="${collageMarketingModel}">
    <div style="margin-top: 10px">

        <label class="text_navigation" style="margin-left: 100px">状态</label>
        <select class="select_style" name="enabledFlag" style="margin-left: 5px">
            <option value="">全部</option>
            <option th:selected="${collageMarketingModel.enabledFlag==1}" th:value="1">启用</option>
            <option th:selected="${collageMarketingModel.enabledFlag==2}" th:value="2">停用</option>
            <option th:selected="${collageMarketingModel.enabledFlag==3}" th:value="3">成团</option>
        </select>

        <label class="text_navigation" style="margin-left: 10px">活动名称</label>
        <input class="input_style" style="margin-left: 5px" type="text" th:value="${collageMarketingModel.name}" name="name"/>

        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>

    </div>
</form>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
        <tr style="width: 100%">
            <th>名称</th>
            <th>状态</th>
            <th>成团人数</th>
            <th>成团价格</th>
            <th>已开团数</th>
            <!--<th>已参团人数</th>-->
            <th>已成团数</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </tr>
        <tr th:each="item:${list}">
            <td th:text="${item.name}"></td>
            <td>
                <div th:switch="${item.enabledFlag}">
                    <p th:case="'1'">
                        启用
                    </p>
                    <p th:case="'2'">
                        停用
                    </p>
                    <p th:case="'3'">
                        已成团
                    </p>
                </div>
            </td>

            <td th:text="${item.collagePeopleCount}"></td>
            <td th:text="${item.collagePrice}"></td>
            <td th:text="${item.openGroupCount}"></td>
            <!--<td th:text="${item.joinCount}"></td>-->
            <td th:text="${item.finishGroupCount}"></td>
            <td th:text="${#dates.format(item.beginTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td align="center">
                <a href="activityadd.html" th:href="@{/collageMarketing/gotoModifyCollage(id=${item.id})}">编辑</a>
                <a href="activityadd.html" th:href="@{/collageMarketing/updateState(id=${item.id}, enabledFlag=1)}">启用</a>
                <a th:onclick="'javascript:checkStop(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">停用</a>

                <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">删除</a>
            </td>

        </tr>

    </table>
</div>

<div class="paging">
    <div th:replace="page_info::pagination"/>
</div>




</body>
</html>
