<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员等级设置</title>

    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/zm-validate.js" th:src="@{/js/zm-validate.js}"></script>

    <!-- tips 提示框引用-->
    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}"></script>

</head>

<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #F0F0F0;
    }
</style>

<script type="text/javascript">
    function submitLevelRuleForm() {
        document.levelRule.submit();
    }

    function showAction() {
        var successOrfail = document.getElementById("successOrfail").value;
        if(successOrfail != '' && successOrfail != undefined && successOrfail != null){
            if(successOrfail == "success"){
                successTips('操作成功','设置成功，可进行相关操作使用');
            }else if(successOrfail == "fail"){
                errorTips('操作失败','设置失败，请优先排查输入信息');
            }
        }

    }


</script>


<body  onload="showAction()">

<input type="hidden" id="successOrfail" th:value="${searchRuleModel.successOrfail}">

<!-- 会员查询规则 -->
<form method="post" name="levelRule" action="" th:action="@{/internal/customer/search/rule/save}" th:object="${searchRuleEntity}">

    <input type="hidden" name="shopIdenty" th:value="${searchRuleModel.shopIdenty}">
    <input type="hidden" name="brandIdenty" th:value="${searchRuleModel.brandIdenty}">
    <input type="hidden" name="creatorId" th:value="${searchRuleModel.creatorId}">
    <input type="hidden" name="creatorName" th:value="${searchRuleModel.creatorName}">

    <div style="margin: 20px;padding: 20px" class="modle_background_style">

        <div class="parent">
            <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
            <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员查询规则设置</label>
        </div>

        <div class="parent" style="margin-top: 10px;margin-left: 10px;">
            <img th:src="@{/images/customer_search_icon.png}" src="../static/images/customer_search_icon.png" class="icon_size_style">
            <label class="text_navigation" style=" min-width: 300px;margin-left: 5px">主力消费群：&nbsp;&nbsp;&nbsp;</label>
        </div>

        <div style="margin-top: 5px;margin-left: 30px">

            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">会员在</label>
            <input class="input_min_style zm_input_number" placeholder="设置消费时长天数" style="margin-left: 5px" type="text" th:value="*{consumptionMainDay}" name="consumptionMainDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天内</label>
            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">到店次数：大于等于</label>
            <input class="input_min_style zm_input_number" placeholder="消费次数" style="margin-left: 5px;" type="text" th:value="*{consumptionMainNumber}" name="consumptionMainNumber"/><label class="text_navigation" style="margin-left: 5px;">小于</label>
            <input class="input_min_style zm_input_number" placeholder="消费次数" type="text" th:value="*{intervalConsumptionMainNumber}" name="intervalConsumptionMainNumber"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">次</label>
            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">并且消费金额：大于等于</label>
            <input class="input_min_style zm_input_number" placeholder="消费金额" style="margin-left: 5px;" type="text" th:value="*{consumptionMainAmount}" name="consumptionMainAmount"/><label class="text_navigation" style="margin-left: 5px;">小于</label>
            <input class="input_min_style zm_input_number" placeholder="消费金额" type="text" th:value="*{intervalConsumptionMainAmount}" name="intervalConsumptionMainAmount"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">元</label>
        </div>

        <div style="width: 100%;height: 1px;background-color: #e1e1e1;margin: 10px"></div>

        <div class="parent" style="margin-top: 10px;margin-left: 10px;">
            <img th:src="@{/images/customer_search_icon.png}" src="../static/images/customer_search_icon.png" class="icon_size_style">
            <label class="text_navigation" style=" min-width: 300px;margin-left: 5px">将流失会员：&nbsp;&nbsp;&nbsp;</label>
        </div>

        <div style="margin-top: 5px;margin-left: 30px">

            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">会员在</label>
            <input class="input_min_style zm_input_number" placeholder="设置消费时长天数" style="margin-left: 5px" type="text" th:value="*{membersWillDay}" name="membersWillDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天内</label>
            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">到店次数：大于等于</label>
            <input class="input_min_style zm_input_number" placeholder="消费次数" style="margin-left: 5px;" type="text" th:value="*{membersWillNumber}" name="membersWillNumber"/><label class="text_navigation" style="margin-left: 5px;">小于</label>
            <input class="input_min_style zm_input_number" placeholder="消费次数" type="text" th:value="*{intervalMembersWillNumber}" name="intervalMembersWillNumber"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">次</label>
            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">并且消费金额：大于等于</label>
            <input class="input_min_style zm_input_number" placeholder="消费金额" style="margin-left: 5px;" type="text" th:value="*{membersWillAmount}" name="membersWillAmount"/><label class="text_navigation" style="margin-left: 5px;">小于</label>
            <input class="input_min_style zm_input_number" placeholder="消费金额" type="text" th:value="*{intervalMembersWillAmount}" name="intervalMembersWillAmount"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">元</label>
        </div>

        <div style="width: 100%;height: 1px;background-color: #e1e1e1;margin: 10px"></div>

        <div class="parent" style="margin-top: 10px;margin-left: 10px;">
            <img th:src="@{/images/customer_search_icon.png}" src="../static/images/customer_search_icon.png" class="icon_size_style">
            <label class="text_navigation" style=" min-width: 300px;margin-left: 5px">已流失会员：&nbsp;&nbsp;&nbsp;</label>
        </div>

        <div style="margin-top: 5px;margin-left: 30px">

            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">会员在</label>
            <input class="input_min_style zm_input_number" placeholder="设置消费时长天数" style="margin-left: 5px" type="text" th:value="*{membersLossDay}" name="membersLossDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天内</label>
            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">到店次数：大于等于</label>
            <input class="input_min_style zm_input_number" placeholder="消费次数" style="margin-left: 5px;" type="text" th:value="*{membersLossNumber}" name="membersLossNumber"/><label class="text_navigation" style="margin-left: 5px;">小于</label>
            <input class="input_min_style zm_input_number" placeholder="消费次数" type="text" th:value="*{intervalMembersLossNumber}" name="intervalMembersLossNumber"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">次</label>
            <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">并且消费金额：大于等于</label>
            <input class="input_min_style zm_input_number" placeholder="消费金额" style="margin-left: 5px;" type="text" th:value="*{membersLossAmount}" name="membersLossAmount"/><label class="text_navigation" style="margin-left: 5px;">小于</label>
            <input class="input_min_style zm_input_number" placeholder="消费金额" type="text" th:value="*{intervalMembersLossAmount}" name="intervalMembersLossAmount"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">元</label>
        </div>

        <div style="width: 100%;height: 1px;background-color: #e1e1e1;margin: 10px"></div>

        <div style="margin-top: 15px;margin-left: 10px;" class="parent">
            <img th:src="@{/images/customer_search_icon.png}" src="../static/images/customer_search_icon.png" class="icon_size_style">
            <label class="text_navigation" style="margin-left: 5px">新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会&nbsp;&nbsp;&nbsp;&nbsp;员：&nbsp;&nbsp;</label>
            <input class="input_min_style zm_input_number" placeholder="设置享有新会员天数" style="margin-left: 5px" type="text" th:value="*{membersNewIntervalDay}" name="membersNewIntervalDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px;">天</label>
        </div>

        <div style="width: 100%;height: 1px;background-color: #e1e1e1;margin: 10px"></div>

        <div style="margin-top: 15px;margin-left: 10px;" class="parent">
            <img th:src="@{/images/customer_search_icon.png}" src="../static/images/customer_search_icon.png" class="icon_size_style">
            <label class="text_navigation" style="margin-left: 5px">将过生日会员：</label>
            <input class="input_min_style zm_input_number" placeholder="设置提前几天查看将过生日的会员" style="margin-left: 5px" type="text" th:value="*{membersBirthdayBeforeDay}" name="membersBirthdayBeforeDay"/>
            <label class="text_navigation" style="margin-left: 3px;margin-right: 10px; ">天</label>
            <h6>设置天数后可以在顾客列表提前查看将要过生日的会员</h6>
        </div>

        <div style="width: 100%;height: 1px;background-color: #e1e1e1;margin: 10px"></div>

        <div style="margin-top: 15px;margin-left: 10px;" class="parent">
            <img th:src="@{/images/customer_search_icon.png}" src="../static/images/customer_search_icon.png" class="icon_size_style">
            <label class="text_navigation" style="margin-left: 5px">将满周年会员：</label>
            <input class="input_min_style zm_input_number" placeholder="设置提前几天查看将要满周年的会员" style="margin-left: 5px" type="text" th:value="*{membersAnniversaryBeforeDay}" name="membersAnniversaryBeforeDay"/>
            <label class="text_navigation" style="margin-left: 3px;margin-right: 10px; ">天</label>
            <h6>设置天数后可以在顾客列表提前查看将满周年会员</h6>
        </div>

        <div style="margin-top: 15px">
            <button class="blue_button_style" style="margin-left: 10px" >保存</button>
            <!--<button class="gray_button_style" onclick="this" style="margin-left: 10px">取消</button>-->
        </div>

    </div>
</form>

</body>
</html>