<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员权益设置</title>

    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />

    <!-- tips 提示框引用-->
    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}"></script>

    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />

</head>

<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #F0F0F0;
    }
</style>

<script type="text/javascript">

    function checkDelete(deleteId){
        var message = "请确认是否要删除该条优惠规则？";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/internal/customerPrivilageRule/deletePrivilegeRule?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }

    function showAction() {
        var successOrfail = document.getElementById("successOrfail").value;
        if(successOrfail != '' && successOrfail != undefined && successOrfail != null){
            if(successOrfail == "success"){
                successTips('操作成功','设置成功，可进行相关操作使用');
            }else if(successOrfail == "fail"){
                errorTips('操作失败','设置失败，请优先排查输入信息');
            }
        }

        //设置会员支付密码验证默认选中项
        // var privilageType =  document.getElementById("privilageType").value;
        // $(":radio[id='privilageType'][value='" + privilageType + "']").prop("checked", "checked");
    }

</script>


<body>

<div id="showDialog"></div>

<input type="hidden" id="successOrfail" th:value="${ruleModel.successOrfail}">

<input type="hidden" id="privilageType" th:value="${ruleModel.privilageType}">


<div style="margin: 20px;padding: 20px" class="modle_background_style">

    <div class="parent">
        <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
        <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员储值权益</label>
    </div>


    <div align="center" style="margin-top: 10px">

        <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
            <tr style="width: 100%">
                <th>储值金额</th>
                <th>消费满额条件</th>
                <th>享受权益类型</th>
                <th>是否做储值支付验证</th>
                <th>享受权益值</th>
                <th>操作</th>
            </tr>
            <tr th:each="item:${listData}">
                <td th:text="${item.saveAmount}"></td>
                <td th:text="${item.fullAmount}"></td>
                <td>
                    <div th:switch="${item.privilageType}">
                        <p th:case="'3'">
                            折扣
                        </p>
                        <p th:case="'4'">
                            让价
                        </p>
                    </div>
                </td>
                <td>
                    <div th:switch="${item.isNeedSavePayment}">
                        <p th:case="'0'">
                            否
                        </p>
                        <p th:case="'1'">
                            是
                        </p>
                    </div>
                </td>
                <td th:text="${item.privilageValue}"></td>
                <td align="center">
                    <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\')'" style="cursor: pointer">删除</a>
                </td>
            </tr>
        </table>
    </div>


    <form method="post" name="addform" action="" th:action="@{/internal/customerPrivilageRule/addSavePriviegeRule}">

        <input type="hidden" name="shopIdenty" th:value="${ruleModel.shopIdenty}">
        <input type="hidden" name="brandIdenty" th:value="${ruleModel.brandIdenty}">
        <input type="hidden" name="creatorId" th:value="${ruleModel.creatorId}">
        <input type="hidden" name="creatorName" th:value="${ruleModel.creatorName}">

        <div class="parent_h container">
            <label class="text_navigation" style="margin-left: 10px">是否做储值支付验证：</label>
            <input type="radio" value="1" name="isNeedSavePayment"/><span class="text_navigation" style="margin-right: 20px; margin-left: 10px">是</span>
            <input type="radio" value="0" name="isNeedSavePayment"/><span class="text_navigation" style="margin-left: 10px">否</span>
            <label style="margin-left: 10px; font-size: 10px; color: #FF6600">备注：如选择"是"，则会员只有通过储值支付订单时才能享受该折扣，如选择"否"，则会员在购物车中登录后即可享受该折扣，不做支付方式的控制。</label>
        </div>

        <div class="container parent_h" style="margin-top: 20px">

            <label class="text_navigation" style="margin-left: 10px;">储值金额：</label>
            <input class="input_style" placeholder="请输入储值金额" style="margin-left: 5px" type="text"  name="saveAmount"/>

            <label class="text_navigation" style="margin-left: 10px;">消费满额条件</label>
            <input class="input_style" name="fullAmount" placeholder="消费满多少金额可享有会员折扣" style="margin-left: 5px" type="text"/>
            <label class="text_navigation" style="margin-left: 5px;">元</label>

            <label class="text_navigation" style="margin-left: 10px">权益类型：</label>
            <input type="radio" value="3" name="privilageType"/><span class="text_navigation" style="margin-right: 20px; margin-left: 10px">折扣</span>
            <input type="radio" value="4" name="privilageType"/><span class="text_navigation" style="margin-left: 10px">让价</span>

            <label class="text_navigation" style="margin-left: 10px">权益值：</label>
            <input class="input_style" placeholder="请输入储值金额" style="margin-left: 5px" type="text"  name="privilageValue"/>

            <button class="blue_button_style" onclick="submitForm()" style="margin-left: 10px">保存</button>
        </div>
        <div class="container parent_h" style="margin-top: 20px">
            <label style="margin-left: 10px; font-size: 10px; color: #FF6600">备注：会员储值不同金额，享受的会员折扣不同，同时可设置会员消费时满多少金额才能享受该会员折扣，如不限制则在满额条件中输入0。</label>
        </div>
    </form>
</div>


</body>
</html>