<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员设置</title>

    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/zm-validate.js" th:src="@{/js/zm-validate.js}"></script>

    <!-- tips 提示框引用-->
    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}"></script>

</head>

<script type="text/javascript">
    function submitLevelRuleForm() {
        document.levelRule.submit();
    }

    function submitRuleSForm() {
        document.scoreS.submit();
    }

    function submitRuleDForm() {
        document.scoreD.submit();
    }

    function showAction() {
        var successOrfail = document.getElementById("successOrfail").value;
        if(successOrfail != '' && successOrfail != undefined && successOrfail != null){
            if(successOrfail == "success"){
                successTips('操作成功','设置成功，可进行相关操作使用');
            }else if(successOrfail == "fail"){
                errorTips('操作失败','设置失败，请优先排查输入信息');
            }
        }
    }

</script>

<body onload="showAction()">

<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 30%">会员设置</label>
</div>

<div th:if="${customer_setting} eq '1'">
    <form method="post" name="levelRule" action="" th:action="@{/internal/customerLevelRule/modify}" th:object="${mCustomerLevelRuleModel}">

        <input type="hidden" name="shopIdenty" th:value="${levelRule.shopIdenty}">
        <input type="hidden" name="brandIdenty" th:value="${levelRule.brandIdenty}">
        <input type="hidden" id="creatorId" name="creatorId" th:value="${levelRule.creatorId}">
        <input type="hidden" id="creatorName" name="creatorName" th:value="${levelRule.creatorName}">
        <input type="hidden" id="successOrfail" th:value="${successOrfail}">

        <div style="margin: 20px;padding: 20px" class="modle_background_style">

            <div class="parent">
                <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
                <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员等级设置</label>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px; margin-top: 15px; min-width: 300px">普通会员: 注册即为普通会员</label>
            </div>
            <div style="margin-top: 15px">
                <input type="hidden" name="idYK" th:value="${levelRule.idYK}">
                <input type="hidden" name="levelCodeYK" th:value="${levelRule.levelCodeYK}">
                <label class="text_navigation" style="margin-left: 10px; margin-top: 15px; min-width: 300px">银卡会员</label>
                <input class="input_style" placeholder="输入对应积分成长值" style="margin-left: 5px" type="text" th:value="${levelRule.levelScoreYK}" name="levelScoreYK"/>
            </div>

            <div style="margin-top: 15px">
                <input type="hidden" name="idJK" th:value="${levelRule.idJK}">
                <input type="hidden" name="levelCodeJK" th:value="${levelRule.levelCodeJK}">
                <label class="text_navigation" style="margin-left: 10px">金卡会员</label>
                <input class="input_style" placeholder="输入对应积分成长值" style="margin-left: 5px" type="text" th:value="${levelRule.levelScoreJK}" name="levelScoreJK"/>
            </div>

            <div style="margin-top: 15px">
                <input type="hidden" name="idBJ" th:value="${levelRule.idBJ}">
                <input type="hidden" name="levelCodeBJ" th:value="${levelRule.levelCodeBJ}">
                <label class="text_navigation" style="margin-left: 10px">白金会员</label>
                <input class="input_style" placeholder="输入对应积分成长值" style="margin-left: 5px" type="text" th:value="${levelRule.levelScoreBJ}" name="levelScoreBJ"/>
            </div>

            <div style="margin-top: 15px">
                <input type="hidden" name="idHJ" th:value="${levelRule.idHJ}">
                <input type="hidden" name="levelCodeHJ" th:value="${levelRule.levelCodeHJ}">
                <label class="text_navigation" style="margin-left: 10px">黑金会员</label>
                <input class="input_style" placeholder="输入对应积分成长值" style="margin-left: 5px" type="text" th:value="${levelRule.levelScoreHJ}" name="levelScoreHJ"/>
            </div>

            <div style="margin-top: 15px">
                <input type="hidden" name="idZS" th:value="${levelRule.idZS}">
                <input type="hidden" name="levelCodeZS" th:value="${levelRule.levelCodeZS}">
                <label class="text_navigation" style="margin-left: 10px">钻石会员</label>
                <input class="input_style" placeholder="输入对应积分成长值" style="margin-left: 5px" type="text" th:value="${levelRule.levelScoreZS}" name="levelScoreZS"/>
            </div>

            <div style="margin-top: 15px">
                <input type="hidden" name="idZZ" th:value="${levelRule.idZZ}">
                <input type="hidden" name="levelCodeZZ" th:value="${levelRule.levelCodeZZ}">
                <label class="text_navigation" style="margin-left: 10px">至尊会员</label>
                <input class="input_style" placeholder="输入对应积分成长值" style="margin-left: 5px" type="text" th:value="${levelRule.levelScoreZZ}" name="levelScoreZZ"/>
            </div>

            <div style="margin-top: 15px">
                <button class="blue_button_style" onclick="submitLevelRuleForm()" style="margin-left: 10px" >保存</button>
                <button class="gray_button_style" onclick="this" style="margin-left: 10px">取消</button>
            </div>

        </div>
    </form>

    <form method="post" name="scoreS" action="" th:action="@{/internal/customerScoreRule/modify}" th:object="${CustomerScoreRuleModel}">
        <input type="hidden" name="shopIdenty" th:value="${levelRule.shopIdenty}">
        <input type="hidden" name="brandIdenty" th:value="${levelRule.brandIdenty}">
        <input type="hidden" name="creatorId" th:value="${levelRule.creatorId}">
        <input type="hidden" name="creatorName" th:value="${levelRule.creatorName}">
        <input type="hidden" name="idS" th:value="${cusRM.idS}">
        <input type="hidden" name="typeS" value="1">
        <div style="margin: 20px;padding: 20px" class="modle_background_style">
            <div class="parent">
                <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
                <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员成长计划</label>
            </div>
            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">消费1元增加积分成长值</label>
                <input class="input_style" placeholder="输入转换成长值" style="margin-left: 5px" type="text" th:value="${cusRM.convertValueS}" name="convertValueS"/>
            </div>
            <div style="margin-top: 15px">
                <button class="blue_button_style" onclick="submitRuleSForm()" style="margin-left: 10px">保存</button>
                <button class="gray_button_style" th:onclick="this" style="margin-left: 10px">取消</button>
            </div>
        </div>
    </form>
    <form method="post" name="scoreD" action="" th:action="@{/internal/customerScoreRule/modify}" th:object="${CustomerScoreRuleModel}">


        <input type="hidden" name="shopIdenty" th:value="${levelRule.shopIdenty}">
        <input type="hidden" name="brandIdenty" th:value="${levelRule.brandIdenty}">
        <input type="hidden" name="creatorId" th:value="${levelRule.creatorId}">
        <input type="hidden" name="creatorName" th:value="${levelRule.creatorName}">
        <input type="hidden" name="idD" th:value="${cusRM.idD}">
        <input type="hidden" name="typeD" value="2">

        <input type="hidden" name="idM" th:value="${cusRM.idM}">

        <div style="margin: 20px;padding: 20px" class="modle_background_style">
            <div class="parent">
                <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
                <label class="text_navigation" style="margin-left: 10px; font-weight: bold">积分抵现</label>
            </div>
            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">抵用规则：</label>
                <input class="input_style" placeholder="输入积分数" style="margin-left: 5px" type="text"  name="convertValueD" th:value="${cusRM.convertValueD}"/>
                <label class="text_navigation" style="margin-left: 10px">积分抵用 1 元</label>


                <label class="text_navigation" style="margin-left: 50px">单笔订单抵用积分上限：</label>
                <input class="input_style" placeholder="输入抵用上限" style="margin-left: 0px" type="text"  name="convertValueM" th:value="${cusRM.convertValueM}"/>
                <h6>备注：如会员消费时使用积分抵现，系统将根据该值控制单笔订单最多一次能使用多少积分</h6>

            </div>
            <div style="margin-top: 15px">
                <button class="blue_button_style" onclick="submitRuleDForm()" style="margin-left: 10px">保存</button>
                <button class="gray_button_style" th:onclick="this" style="margin-left: 10px">取消</button>
            </div>
        </div>
    </form>

    <!-- 会员查询规则 -->
    <form method="post" name="levelRule" action="" th:action="@{/internal/customer/search/rule/save}" th:object="${searchRuleEntity}">

        <input type="hidden" name="shopIdenty" th:value="${levelRule.shopIdenty}">
        <input type="hidden" name="brandIdenty" th:value="${levelRule.brandIdenty}">
        <input type="hidden" name="creatorId" th:value="${levelRule.creatorId}">
        <input type="hidden" name="creatorName" th:value="${levelRule.creatorName}">

        <div style="margin: 20px;padding: 20px" class="modle_background_style">

            <div class="parent">
                <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
                <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员查询规则设置</label>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px; margin-top: 15px; min-width: 300px">主力消费群：&nbsp;&nbsp;&nbsp;</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">消费时长</label>
                <input class="input_style zm_input_number" placeholder="设置消费时长天数" style="margin-left: 5px" type="text" th:value="*{consumptionMainDay}" name="consumptionMainDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">消费累计金额</label>
                <input class="input_style zm_input_number" placeholder="消费金额" style="margin-left: 5px;" type="text" th:value="*{consumptionMainAmount}" name="consumptionMainAmount"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">元</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">或者消费累计次数</label>
                <input class="input_style zm_input_number" placeholder="消费次数" style="margin-left: 5px;" type="text" th:value="*{consumptionMainNumber}" name="consumptionMainNumber"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">次</label>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">将流失会员：&nbsp;&nbsp;&nbsp;</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">消费时长</label>
                <input class="input_style zm_input_number" placeholder="设置消费时长天数" style="margin-left: 5px" type="text" th:value="*{membersWillDay}" name="membersWillDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">消费累计金额</label>
                <input class="input_style zm_input_number" placeholder="消费金额" style="margin-left: 5px;" type="text" th:value="*{membersWillAmount}" name="membersWillAmount"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">元</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">或者消费累计次数</label>
                <input class="input_style zm_input_number" placeholder="消费次数" style="margin-left: 5px;" type="text" th:value="*{membersWillNumber}" name="membersWillNumber"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">次</label>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">已流失会员：&nbsp;&nbsp;&nbsp;</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">消费时长</label>
                <input class="input_style zm_input_number" placeholder="设置消费时长天数" style="margin-left: 5px" type="text" th:value="*{membersLossDay}" name="membersLossDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">消费累计金额</label>
                <input class="input_style zm_input_number" placeholder="消费金额" style="margin-left: 5px;" type="text" th:value="*{membersLossAmount}" name="membersLossAmount"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">元</label>
                <label class="text_navigation" style="margin-left: 8px; margin-top: 15px;">或者消费累计次数</label>
                <input class="input_style zm_input_number" placeholder="消费次数" style="margin-left: 5px;" type="text" th:value="*{membersLossNumber}" name="membersLossNumber"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">次</label>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会&nbsp;&nbsp;&nbsp;&nbsp;员：&nbsp;&nbsp;</label>
                <input class="input_style zm_input_number" placeholder="设置享有新会员天数" style="margin-left: 5px" type="text" th:value="*{membersNewIntervalDay}" name="membersNewIntervalDay"/><label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天</label>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">将过生日会员：</label>
                <input class="input_style zm_input_number" placeholder="设置提前几天查看将过生日的会员" style="margin-left: 5px" type="text" th:value="*{membersBirthdayBeforeDay}" name="membersBirthdayBeforeDay"/>
                <label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天</label>
                <h6>设置天数后可以在顾客列表提前查看将要过生日的会员</h6>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 10px">将满周年会员：</label>
                <input class="input_style zm_input_number" placeholder="设置提前几天查看将要满周年的会员" style="margin-left: 5px" type="text" th:value="*{membersAnniversaryBeforeDay}" name="membersAnniversaryBeforeDay"/>
                <label class="text_navigation" style="margin-left: 3px;margin-right: 10px; margin-top: 15px;">天</label>
                <h6>设置天数后可以在顾客列表提前查看将满周年会员</h6>
            </div>

            <div style="margin-top: 15px">
                <button class="blue_button_style" style="margin-left: 10px" >保存</button>
                <button class="gray_button_style" onclick="this" style="margin-left: 10px">取消</button>
            </div>

        </div>
    </form>
</div>
<div th:if="${customer_setting} eq '0'">
    <div style="margin-left: 40%;margin-top: 50px"><h4>您没有会员设置权限，请联系管理员进行设置！</h4></div>
</div>


</body>
</html>