<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员权益设置</title>

    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/zm-validate.js" th:src="@{/js/zm-validate.js}"></script>

    <!-- tips 提示框引用-->
    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}"></script>

</head>

<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #F0F0F0;
    }
</style>

<script type="text/javascript">


</script>



<body>


<div style="margin: 20px;padding: 20px" class="modle_background_style">

    <div class="parent">
        <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
        <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员等级权益</label>
    </div>

    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px; margin-top: 15px; min-width: 300px">普通会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>
    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px; margin-top: 15px; min-width: 300px">银卡会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>

    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px">金卡会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>

    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px">白金会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>

    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px">黑金会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>

    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px">钻石会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>

    <div style="margin-top: 15px">
        <label class="text_navigation" style="margin-left: 10px">至尊会员</label>
        <input class="input_style" placeholder="对应的会员折扣" style="margin-left: 5px" type="text"/>
    </div>

    <div style="margin-top: 15px">
        <button class="blue_button_style" onclick="submitLevelRuleForm()" style="margin-left: 10px" >保存</button>
        <!--<button class="gray_button_style" onclick="this" style="margin-left: 10px">取消</button>-->
    </div>

</div>


<div style="margin: 20px;padding: 20px" class="modle_background_style">

    <div class="parent">
        <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
        <label class="text_navigation" style="margin-left: 10px; font-weight: bold">会员储值权益</label>
    </div>


    <div align="center" style="margin-top: 10px">
        <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
            <tr style="width: 100%">
                <th width="34%">储值金额</th>
                <th width="33%">享受权益类型</th>
                <th width="33%">享受权益值</th>
                <th width="33%">操作</th>
            </tr>
            <tr th:each="item:${list}">
                <td th:text="${item.scanNumber}"></td>
                <td th:text="${item.shareNumber}"></td>
                <td th:text="${item.shareNumber}"></td>
                <td align="center">
                    <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">编辑</a>
                    <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">删除</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="container parent_h" style="margin-top: 20px">
        <label class="text_navigation" style="margin-left: 10px;">储值金额：</label>
        <input class="input_style" placeholder="请输入储值金额" style="margin-left: 5px" type="text"  name="storedalue"/>

        <label class="text_navigation" style="margin-left: 10px">权益类型：</label>
        <input type="radio" value="0" name="settingValue"/><span class="text_navigation" style="margin-right: 20px; margin-left: 10px">折扣</span>
        <input type="radio" value="1" name="settingValue"/><span class="text_navigation" style="margin-left: 10px">让价</span>

        <label class="text_navigation" style="margin-left: 10px">权益值：</label>
        <input class="input_style" placeholder="请输入储值金额" style="margin-left: 5px" type="text"  name="storedalue"/>

        <button class="blue_button_style" onclick="submitRuleDForm()" style="margin-left: 10px">保存</button>
    </div>


</div>


</body>
</html>