<!DOCTYPE html>
<html>

<style type="text/css">

    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.modle {
        /* 启用弹性盒布局 */
        display: flex;
        align-items: flex-start
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>添加新品推</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/widget.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/base.js}"></script>
    <script type="text/javascript" th:src="@{/js/base.js}"></script>

    <link rel="stylesheet" th:href="@{/ckeditor/contents.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/ckeditor/config.js}"></script>
    <script type="text/javascript" th:src="@{/ckeditor/styles.js}"></script>

    <link th:href="@{/upload/upload-one.css}" href="../static/upload/upload-one.css" type="text/css" rel="stylesheet" />
    <script th:src="@{/upload/upload-one.js}"></script>

    <!-- tips 提示框引用-->
    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}"></script>

</head>
<script type="text/javascript">

    $(function () {
        $("#dish_select").click(function () {
            $('.zm-dialog').load('[[${basePath}]]/dish/selectShopPage'); //#container

        })
    });

    function setDishInfo(dishId,dishName,dishPrice,dishDesc) {
        $("#dishId").attr('value',dishId);
        $("#dishName").attr('value',dishName);
        $("#dishPrice").attr('value',dishPrice);
        $("#dishRemark").attr('value',dishDesc);

    };

    function addPushDishForm(planStateValue) {

        var dishId = document.getElementById("dishId").value.replace(/(^\s*)|(\s*$)/g, '');
        var dishName = document.getElementById("dishName").value.replace(/(^\s*)|(\s*$)/g, '');
        var dishPrice = document.getElementById("dishPrice").value.replace(/(^\s*)|(\s*$)/g, '');
        var planDesc = document.getElementById("planDesc").value.replace(/(^\s*)|(\s*$)/g, '');


        if(dishId == '' || dishId == undefined || dishId == null){
            warningTips("操作异常提示","请选择品项");
        }else if(dishName == '' || dishName == undefined || dishName == null){
            warningTips("操作异常提示","请输入品项名称");
        }else if(dishPrice == '' || dishPrice == undefined || dishPrice == null){
            warningTips("操作异常提示","请输入品项价格");
        }else if(planDesc == '' || planDesc == undefined || planDesc == null){
            warningTips("操作异常提示","请输入品项简介");
        }else{
            document.getElementById("planState").value = planStateValue;
            document.addForm.submit();
        }
    }



</script>
<body>

<header>
    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 10px; width: 30%">营销 》新品推送 》创建新品推送</label>

        <div align="right" style="width: 100%;margin-right: 50px">
            <button class="blue_button_style" onclick="addPushDishForm(1)">保存并投放</button>
            <button class="orange_button_style" onclick="addPushDishForm(2)" style="margin-left: 10px">保存</button>
            <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/pushPlanNewDish'|}" style="margin-left: 10px">返回</button>
        </div>
    </div>
</header>


    <form method="post" name="addForm" th:action="@{/pushPlanNewDish/addOrEdit}" th:object="${newDishPushModel}">
        <input type="hidden" name="planState" id="planState"/>
        <div class="modle">
            <img th:src="@{/images/weixin_dish_pg.jpg}" class="weixin_pic_style">
            <div style="margin-left: 20px;margin-top: 10px">

                <input type="hidden" name="id" th:value="${newDishPlan.id}">
                <input type="hidden" id="dishId" name="dishId" th:value="${newDishPlan.dishId}">
                <div class="details-bom">
                    <ul class="spell-content">
                        <li><span>*选择品项</span>
                            <button id="dish_select" class="blue_button_style select-shop" value=""
                                    onclick="return false;">选择品项
                            </button>
                            <h4>请选择要推送的品项</h4>
                        </li>
                        <li><span>*品项名称</span>
                            <label><input type="text" placeholder="输入品项名称" maxlength="10"
                                                            id="dishName" name="dishName"
                                                            th:value="${newDishPlan.name}"/>
                            </label>
                        </li>
                        <li><span>*品项价格</span><input type="text" onkeyup="clearNoNum(this)" placeholder="输入品项价格" maxlength="10" name="dishPrice"
                                                     id="dishPrice" th:value="${newDishPlan.dishPrice}">
                        </li>
                        <li><span>*品项简介</span><input type="text" placeholder="输入字符不超过100字" maxlength="100"
                                                     name="planDesc" id="planDesc" th:value="${newDishPlan.planDesc}"></li>

                        <li>
                            <span>上传新品图片</span>
                            <div class="upload-box" th:src="${newDishPlan.imgUrl}" name="imgUrl">
                                <div class="upload-btn">
                                    <input type="file" name="file" id="upload-input"/>
                                </div>
                            </div>
                            <h6>仅可上传1张图片</h6>
                        </li>
                        <li></li>
                    </ul>
                    <div style="margin-bottom: 50px;margin-left: 110px;margin-top: 40px;">

                        <div class="detail_lable_style" style="margin-bottom: 20px">新品图文描述</div>

                        <textarea id="description" name="describe" cols="150" rows="50" class="ckeditor"
                                  th:text="${newDishPlan.describe}"></textarea>
                    </div>
                </div>

            </div>

        </div>
    </form>

<div class='zm-dialog'>
</div>


</body>
</html>
