<!DOCTYPE html>
<html>
<style type="text/css">
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>会员特价商品设置</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
    <link rel="stylesheet" th:href="@{/css/customer.css}" href="../static/css/customer.css" />
    <script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js" ></script>
    <script type="text/javascript" th:src="@{/js/window/window.ext.js}" src="../static/js/window/window.ext.js" ></script>
    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />
</head>

<script type="text/javascript">

    function searchData(){
        document.searchDataForm.submit();
    }

    $(function() {


        $("#selectAll").change(function(){
            var isChecked = document.getElementById("selectAll").checked;
            if(isChecked == true){
                $("input[type='checkbox']").attr("checked","true");
            }else{
                $("input[type='checkbox']").removeAttr("checked");
            }

        });
    });

    function submitRuleSForm() {
        showLoading("数据正在保存，请稍后...");
        var id = document.getElementsByName('selectDish');
        var value = new Array();
        for(var i = 0; i < id.length; i++){
            if(id[i].checked){

                var dishId = id[i].value.toString();
                var typeList = document.getElementsByName(dishId);
                for(var j = 0; j < typeList.length; j++){
                    var privilegeType;
                    if(typeList[j].checked){
                        privilegeType = typeList[j].value;
                    }
                }
                var privilegeValue = document.getElementById(dishId).value;
                if(privilegeType != null && privilegeValue != null){
                    value.push(dishId+"&"+privilegeType+"&"+privilegeValue);
                }

            }
        }

        sumbmitData(value);
    }

    function sumbmitData(value) {
        var levelId = document.getElementById("levelId").value;
        var brandIdenty = document.getElementById("brandIdenty").value;
        var shopIdenty = document.getElementById("shopIdenty").value;
        var creatorId = document.getElementById("creatorId").value;
        var creatorName = document.getElementById("creatorName").value;
        $.ajax({
            url: '[[${basePath}]]/internal/customerDishPrivilege/modfityData',
            data: {
                selectDishList: value.join('#'),
                levelId:levelId,
                shopIdenty:shopIdenty,
                brandIdenty:brandIdenty,
                creatorId:creatorId,
                creatorName:creatorName,
            },
            type: "post",
            dataType: 'json',
            error:function(xml){
                hideLoading();
                alert('会员品项优惠设置失败，请稍后重试！');

            },
            success: function (status) {
                hideLoading();
                alert('会员品项优惠设置成功！');
                location.reload();
            }

        });

    };

    function displayTypeLable(type) {
        if(type == 1){
            document.getElementById('batchTypeLable').firstChild.nodeValue='折';
        }else{
            document.getElementById('batchTypeLable').firstChild.nodeValue='元';
        }
    }

    function closeOrShowBatchDialog(type) {

        if(type == 1){
            document.getElementById('batchDialog').style.display='block';
        }
        else{
            document.getElementById('batchDialog').style.display='none';
        }
    }

    function submitBrachData() {
        var privilegeType = $('input:radio[name="batchType"]:checked').val();
        var privilegeValue = $("#batchPrivilegeValue").val();

        //将批量设置的数据赋值给选中的品项
        var id = document.getElementsByName('selectDish');
        for(var i = 0; i < id.length; i++) {
            if (id[i].checked) {
                var dishId = id[i].value.toString();
                $('#'+dishId).val(privilegeValue);

                $("input[name="+dishId+"]:eq("+privilegeType+")").attr("checked",'checked');

                // changeTypeLable(privilegeType,dishId);
            }
        }

        closeOrShowBatchDialog(0);

    }

</script>

<body>
<div id="batchDialog" style="display: none">

    <div style="background-color: rgba(204,204,204,0.5); width: 100%; position: absolute; height: 100%; z-index: 1;">

        <div style="margin-top: 10px; background-color: #FFFFFF;width: 380px;height: 200px;opacity:1;margin-top: 10%;margin-left: 35%;border-style:solid;border-width:5px;border-color:#f8f8f8">
            <div style="margin-left: 46px;padding-top: 30px;">
                <label class="text_navigation" style="margin-right: 10px">批量设置优惠类型</label>
                <input type="radio" value="1" name="batchType" onchange="displayTypeLable(1)"/><span class="text_navigation" style="margin-left: 10px;margin-right: 10px">折扣</span>
                <input type="radio" value="2" name="batchType" onchange="displayTypeLable(2)"/><span class="text_navigation" style="margin-left: 6px;margin-right: 10px">让价</span>
                <input type="radio" value="3" name="batchType" onchange="displayTypeLable(3)"/><span class="text_navigation" style="margin-left: 6px">特价</span>
            </div>
            <div style="margin-left: 46px;margin-top: 15px" class="parent">
                <label class="text_navigation" style="margin-right: 10px;">批量设置优惠额度</label>
                <input type="text" id="batchPrivilegeValue" class="input_min_style">
                <label class="text_navigation" id="batchTypeLable" style="margin-left: 5px;"></label>

            </div>
            <div style="margin-left: 75px;margin-top: 20px">
                <button class="gray_button_style" onclick="closeOrShowBatchDialog(0)">取消</button>
                <button class="blue_button_style" onclick="submitBrachData()" style="margin-left: 15px">确定</button>
            </div>

        </div>

    </div>
</div>


<div style="padding-top: 10px" class="parent">

    <form method="post" name="searchDataForm" th:action="@{/internal/customerDishPrivilege/queryAllDishData}" th:object="${searchModel}">
        <input type="hidden" id="levelId" name="levelId" th:value="${mCustomerDishPrivilegeModel.levelId}">
        <input type="hidden" id="brandIdenty" name="brandIdenty" th:value="${mCustomerDishPrivilegeModel.brandIdenty}">
        <input type="hidden" id="shopIdenty" name="shopIdenty" th:value="${mCustomerDishPrivilegeModel.shopIdenty}">
        <input type="hidden" id="creatorId" name="creatorId" th:value="${mCustomerDishPrivilegeModel.creatorId}">
        <input type="hidden" id="creatorName" name="creatorName" th:value="${mCustomerDishPrivilegeModel.creatorName}">

        <label class="text_navigation" style="margin-left: 30px">品项类别</label>
        <select class="select_style" name="dishType" style="margin-left: 5px">
            <option value="">全部</option>
            <option th:each="listType: ${listType}" th:value="${listType.id}" th:text="${listType.name}"></option>
        </select>

        <label class="text_navigation" style="margin-left: 10px">品项名称</label>
        <input class="input_style" style="margin-left: 5px" type="text" name="dishName"/>
    </form>

    <button class="orange_mine_button_style" value="" onclick="searchData()" style="margin-left: 10px">查询</button>

    <button class="blue_button_style" style="margin-left: 35px" onclick="closeOrShowBatchDialog(1)"><div class="parent_h container"><img th:src="@{/images/batch_icon.png}" src="../static/images/batch_icon.png" style="width: 20px;height: 20px">&nbsp;批量设置</div> </button>

    <button class="blue_button_style" onclick="submitRuleSForm()" style="margin-left: 15px">保存设置</button>

</div>





<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 95%; vertical-align: middle">
        <tr style="width: 100%">
            <th><input type="checkbox" id="selectAll">&nbsp;全选</th>
            <th>品项名称</th>
            <th>销售价格</th>
            <th>优惠类型</th>
            <th>优惠额度</th>

        </tr>
        <tr th:each="item:${listData}">
            <td>
                <input type="checkbox" th:value="${item.dishId}" name="selectDish" th:attr="checked=${item.checked == true? true:false}">
            </td>
            <td th:text="${item.dishName}"></td>
            <td th:text="${item.marketPrice}"></td>
            <td>
                <input type="radio" value="1" th:name="${item.dishId}" th:attr="checked=${item.privilegeType == 1?true:false}"/><span class="text_navigation" style="margin-left: 10px">折扣</span>
                <input type="radio" value="2" th:name="${item.dishId}" th:attr="checked=${item.privilegeType == 2?true:false}" style="margin-left: 15px"/><span class="text_navigation" style="margin-left: 6px">让价</span>
                <input type="radio" value="3" th:name="${item.dishId}" th:attr="checked=${item.privilegeType == 3?true:false}" style="margin-left: 15px"/><span class="text_navigation" style="margin-left: 6px">特价</span>
            </td>
            <td>
                <div class="parent_h container">
                    <input type="text" class="input_min_style" th:id="${item.dishId}" th:value="${item.privilegeValue}" name="privilege_value">

                    <div th:switch="${item.privilegeType}" style="width: 20px">
                        <p th:case="'1'">
                            <label class="text_navigation" style="margin-left: 5px;">折</label>
                        </p>
                        <p th:case="'2'">
                            <label class="text_navigation" style="margin-left: 5px;">元</label>
                        </p>
                        <p th:case="'3'">
                            <label class="text_navigation" style="margin-left: 5px;">元</label>
                        </p>
                    </div>
                </div>
            </td>

        </tr>

    </table>

    <button class="blue_button_style" onclick="submitRuleSForm()" style="margin-top: 15px;margin-bottom: 15px">保存设置</button>
</div>




</body>
</html>
