<!DOCTYPE html>
<html>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    .container {
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素水平居中
        justify-content: center;
        */
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>新品推送列表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css" />

    <!-- diglog -->
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />
</head>

<script type="text/javascript">

    function checkDelete(deleteId,name){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/pushPlanNewDish/delete?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }

</script>

<body>
<div id="showDialog"></div>

<section class="mark-details" style="margin-bottom: 50px">
<div class="parent top_view_style">

    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

    <label class="text_navigation" style="margin-left: 10px;width: 30%">营销 》新品推送</label>

    <div align="right" style="width: 100%;margin-right: 50px">
        <button class="blue_button_style" value="" th:onclick="@{|location='${basePath}/pushPlanNewDish/addNewDishPushPlanPage'|}">+添加新品</button>

        <button class="gray_button_style" value="" th:onclick="@{|location='${basePath}/home'|}" style="margin-left: 10px">返回</button>
    </div>

</div>

<div style="margin-top: 10px">
    <form method="post" th:action="@{/pushPlanNewDish}" th:object="${newDishPushModel}">
    <label class="text_navigation" style="margin-left: 100px">状态</label>
    <select  name="planState" class="select_style" style="margin-left: 5px" onchange="getTitleData()">
        <option th:selected="${planState==0}" value="0">全部</option>
        <option th:selected="${planState==1}" value="1">进行中</option>
        <option th:selected="${planState==2}" value="2">已停止</option>
    </select>

    <label class="text_navigation" style="margin-left: 10px">新品名称</label>
    <input class="input_style" style="margin-left: 5px" type="text" name="keyWord" th:value="${keyWord}" />
    <button class="orange_mine_button_style" name="curPage" value="1" onclick="this" style="margin-left: 10px">查询</button>
    </form>
</div>
<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">

        <tr style="width: 100%">
            <th>来源</th>
            <th>新品名称</th>
            <th>状态</th>
            <th>方案投放时间</th>
            <th>浏览次数</th>
            <th>分享次数</th>
            <th>操作</th>
        </tr>
        <tr  th:each="item:${list}">
            <td>
                <div th:switch="${item.sourceType}" class="parent_h container">
                    <p th:case="'3'">
                        <img class="icon_mini_size_style" th:src="@{/images/brand_send_icon.png}" align="absmiddle" style="display: inline;"/><span>&nbsp;品牌下发</span>
                    </p>
                    <p th:case="'2'">
                        <img class="icon_mini_size_style" th:src="@{/images/shop_create_icon.png}" align="absmiddle" style="display: inline;"/><span>&nbsp;门店自建</span>
                    </p>
                </div>
            </td>
            <td th:text="${item.name}" />
            <td th:text="${item.obtainStateStr()}" />
            <td th:text="${item.beginTime}" />
            <td th:text="${item.scanNumber}" />
            <td th:text="${item.shareNumber}" />
            <td align="center">
                <div class="parent_h container">
                    <a href="dishmarketiingadd.html" th:href="@{/pushPlanNewDish/editPage(id=${item.id})}">编辑</a>
                    <div th:switch="${item.planState}">
                        <p th:case="'1'">
                            <a href="dishmarketiingadd.html" th:href="@{/pushPlanNewDish/disable(id=${item.id})}">&nbsp;&nbsp;停用</a>
                        </p>
                        <p th:case="'2'">
                            <a href="dishmarketiingadd.html" th:href="@{/pushPlanNewDish/enable(id=${item.id})}">&nbsp;&nbsp;投放</a>
                        </p>
                        <p th:case="'3'">
                            <a href="dishmarketiingadd.html" th:href="@{/pushPlanNewDish/accept(id=${item.id})}">&nbsp;&nbsp;接受</a>
                        </p>
                        <p th:case="'4'">
                            <a href="dishmarketiingadd.html" th:href="@{/pushPlanNewDish/enable(id=${item.id})}">&nbsp;&nbsp;投放</a>
                            <a href="dishmarketiingadd.html" th:href="@{/pushPlanNewDish/disable(id=${item.id})}">&nbsp;&nbsp;停用</a>
                        </p>
                    </div>
                    <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\')'" style="cursor: pointer">&nbsp;&nbsp;删除</a>
                </div>


            </td>
        </tr>
    </table>
</div>

    <div th:replace="page_info::pagination"/>
</div>

</section>

</body>
</html>
