<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #F0F0F0;
    }


</style>

<head>
    <meta charset="UTF-8">
    <title>添加套餐项</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
    <link rel="stylesheet" th:href="@{/css/customer.css}" href="../static/css/customer.css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js" ></script>

    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}" src="../static/tips/jquery.toast.css">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}" src="../static/tips/jquery.toast.js"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}" src="../static/tips/tips.js"></script>
</head>

<script type="text/javascript">

    function addPurchase() {

        var supplierName = $('#selectSupplierId option:selected').text();
        var supplierId = $('#selectSupplierId option:selected').val();
        var supplierCount = $('#inputSupplierCount').val();
        var supplierPrice = $('#intputSupplierPrice').val();

        if(supplierId == '' || supplierId == undefined || supplierId == null){
            warningTips("操作异常提示","请选择货源");
        }else if(supplierCount == '' || supplierCount == undefined || supplierCount == null){
            warningTips("操作异常提示","进货数量不能为空");
        }else if(supplierPrice == '' || supplierPrice == undefined || supplierPrice == null){
            warningTips("操作异常提示","进货价格不能为空");
        }else{
            $('#type').val(1);
            $('#supplierId').val(supplierId);
            $('#supplierName').val(supplierName);
            $('#supplierCount').val(supplierCount);
            $('#supplierPrice').val(supplierPrice);

            var dishQty = Number($('#dishQty').val()) + Number(supplierCount);
            $('#dishQty').val(dishQty);

            closePurchaseDialog();
        }

    }

    function showPurchaseDialog() {
        document.getElementById('batchDialog').style.display='block';
    }

    function closePurchaseDialog() {
        document.getElementById('batchDialog').style.display='none';
    }

    function showGroupDialog(typeId) {
        if(typeId != null){

            $('#inputTypeId').val(typeId);
            $('#inputTypeName').val($('#'+typeId+'_name').val());
            $('#inputOrderMin').val($('#'+typeId+'_orderMin').val());
            $('#intputOrderMax').val($('#'+typeId+'_orderMax').val());
        }

        document.getElementById('setmealTypeDialog').style.display='block';
    }

    function closeGroupDialog() {
        document.getElementById('setmealTypeDialog').style.display='none';
    }

    function delRow(obj, removeRow) {
        var tr = this.getRowObj(obj);
        if (tr != null) {
            tr.parentNode.removeChild(tr);
        } else {
            throw new Error("the given object is not contained by the table");
        }
    }
    function getRowObj(obj) {
        var i = 0;
        while (obj.tagName.toLowerCase() != "tr") {
            obj = obj.parentNode;
            if (obj.tagName.toLowerCase() == "table")
                return null;
        }
        return obj;
    }

    function delAllRow(tableId) {
        var table = document.getElementById(tableId);
        if (table !== "undefined") {
            while(table.hasChildNodes()){
                table.removeChild(table.lastChild)
            }
        }
    }

    function savePackageDish() {
        var name = $('#name').val();
        var dishCode = $('#dishCode').val();
        var marketPrice = $('#marketPrice').val();
        var unitName = $('#unitName').val();

        if(name == '' || name == undefined || name == null){
            warningTips("操作异常提示","品项名称不能为空");
        }else if(dishCode == '' || dishCode == undefined || dishCode == null){
            warningTips("操作异常提示","品项编号不能为空");
        }else if(marketPrice == '' || marketPrice == undefined || marketPrice == null){
            warningTips("操作异常提示","品项销售价格不能为空");
        }else if(unitName == '' || unitName == undefined || unitName == null){
            warningTips("操作异常提示","品项单位不能为空");
        }else{
            document.addform.submit();
        }
    }

    function addGroupType(){
        var inputTypeId = $('#inputTypeId').val();
        var inputTypeName = $('#inputTypeName').val();
        var inputOrderMin = $('#inputOrderMin').val();
        var intputOrderMax = $('#intputOrderMax').val();

        if(inputTypeName == '' || inputTypeName == undefined || inputTypeName == null){
            warningTips("操作异常提示","类型名称不能为空");
        }else if(inputOrderMin == '' || inputOrderMin == undefined || inputOrderMin == null){
            warningTips("操作异常提示","至少必选不能为空");
        }else if(intputOrderMax == '' || intputOrderMax == undefined || intputOrderMax == null){
            warningTips("操作异常提示","至多可选不能为空");
        }else{
            //判断是编辑还是新增
            if(inputTypeId != '' && inputTypeId != undefined && inputTypeId != null && inputTypeId != 0){ //编辑

                document.getElementById(inputTypeId+'_nameText').innerText=inputTypeName;
                $('#'+inputTypeId+'_name').val(inputTypeName);
                document.getElementById(inputTypeId+'_orderMinText').innerText=inputOrderMin;
                $('#'+inputTypeId+'_orderMin').val(inputOrderMin);
                document.getElementById(inputTypeId+'_orderMaxText').innerText=intputOrderMax;
                $('#'+inputTypeId+'_orderMax').val(intputOrderMax);

            }else{ //新增
                var tableId = $('#addTableId').val() - 1;
                $('#addTableId').val(tableId);


                var div1 = document.getElementById('setmealType');
                var code = '<TABLE class="gridtablestyle" style="width: 98%; vertical-align: middle;margin-top: 10px" id='+tableId+'>';
                code +=
                    '<TR style="width: 100%">' +
                    '<th style="width: 30%"><span id="'+tableId+'_nameText">'+inputTypeName+'</span>'+
                    '<input type="hidden" name="setmealTypeName" id="'+tableId+'_name" value='+inputTypeName+'>' +
                    '<input type="hidden" name="setmealTypeId" value='+tableId+'></th>'
                    +'<th style="width: 20%" colspan="2">至少必选：<span id="'+tableId+'_orderMinText">'+inputOrderMin+'</span>' +
                    '<input type="hidden" name="typeOrderMin" id="'+tableId+'_orderMin" value='+inputOrderMin+'></th>'
                    +'<th style="width: 20%" colspan="2">至多可选：<span id="'+tableId+'_orderMaxText">'+intputOrderMax+'</span>' +
                    '<input type="hidden" name="typeOrderMax" id="'+tableId+'_orderMax" value='+intputOrderMax+'></th>'
                    +'<th style="width: 30%" colspan="3">'
                    +'<div class="parent">'
                    +'<img style="cursor: pointer;margin-right: 20px" onclick="showGroupDialog(tableId)" class="icon_middle_style" src="../static/images/modfity_icon.png" th:src="@{/images/modfity_icon.png}">'
                    +'<img style="cursor: pointer" class="icon_middle_style" onclick="delAllRow('+tableId+')" src="../static/images/delete_icon.png" th:src="@{/images/delete_icon.png}">'
                    +'<div class="container parent_h blue_button_style" style="margin-left: 15px" onclick="selectDish('+tableId+')">+添加子项</div>'
                    +'</div>'
                    +'</th>'
                    +'</TR>' +
                    '<tbody id="tbMain"></tbody>';

                var oldView = div1.innerHTML;
                div1.innerHTML = code + '</TABLE>'+oldView;
            }

            closeGroupDialog();
        }

    }

    function selectDish(setmealTypeId) {
        $('#currentTypeId').val(setmealTypeId);
        $('.zm-dialog').load('[[${basePath}]]/dish/selectShopPage'); //#container
    }

    function setDishInfo(dishId, dishName, dishPrice, dishDesc) {

        addSetmealForRow(dishId, dishName, dishPrice);

    };

    //添加子项信息
    function addSetmealForRow(dishId, dishName, dishPrice) {

        var tableId = $('#currentTypeId').val();

        var tempSetmealId = $('#tempSetmealId').val() - 1;
        $('#tempSetmealId').val(tempSetmealId);

        var tbody = document.getElementById(tableId);

        var row = document.createElement('tr'); //创建行  

        var nameCell = document.createElement('td'); //创建第一列id  

        //用于表单提交
        //子项组别Id
        var comboDishTypeId = document.createElement('input')
        comboDishTypeId.type='hidden';
        comboDishTypeId.value = tableId;
        comboDishTypeId.name = "comboDishTypeId";
        nameCell.appendChild(comboDishTypeId);

        //子项Id
        var setmealId = document.createElement('input')
        setmealId.type='hidden';
        setmealId.value = tempSetmealId;
        setmealId.name = "setmealId";
        nameCell.appendChild(setmealId);

        //子项菜品Id
        var childDishId = document.createElement('input')
        childDishId.type='hidden';
        childDishId.value = dishId;
        childDishId.name = "childDishId";
        nameCell.appendChild(childDishId);

        //用于展示的lable
        var showName = document.createElement('span')
        showName.innerHTML = dishName;
        nameCell.appendChild(showName);
        row.appendChild(nameCell); //加入行  ，下面类似  

        //必选
        var isReplace = document.createElement('td');//创建第二列name  

        var isReplaceLable = document.createElement('span')
        isReplaceLable.innerHTML = "必选:";
        isReplace.appendChild(isReplaceLable);

        var checkBox1=document.createElement("input");
        checkBox1.setAttribute("type","checkbox");
        checkBox1.setAttribute("name", "isReplace");
        checkBox1.setAttribute("value", tempSetmealId);
        isReplace.appendChild(checkBox1);

        row.appendChild(isReplace);

        //默认选中
        var isDefault = document.createElement('td');//创建第二列name  
        var isDefaultLable = document.createElement('span')
        isDefaultLable.innerHTML = "默认选中:";
        isDefault.appendChild(isDefaultLable);

        var checkBox2=document.createElement("input");
        checkBox2.setAttribute("type","checkbox");
        checkBox2.setAttribute("name", "isDefault");
        checkBox2.setAttribute("value", tempSetmealId);
        isDefault.appendChild(checkBox2);

        row.appendChild(isDefault);

        //可复选
        var isMulti = document.createElement('td');//创建第二列name  
        var isMultiLable = document.createElement('span')
        isMultiLable.innerHTML = "可复选:";
        isMulti.appendChild(isMultiLable);

        var checkBox3=document.createElement("input");
        checkBox3.setAttribute("type","checkbox");
        checkBox3.setAttribute("name", "isMulti");
        checkBox3.setAttribute("value", tempSetmealId);
        isMulti.appendChild(checkBox3);

        row.appendChild(isMulti);

        //起卖份数
        var leastCellNum = document.createElement('td');//创建第二列name  
        var leastCellNumLable = document.createElement('span')
        leastCellNumLable.innerHTML = "起卖数:";
        leastCellNum.appendChild(leastCellNumLable);

        var checkBox4=document.createElement("input");
        checkBox4.setAttribute("type","text");
        checkBox4.setAttribute("name", "leastCellNum");
        checkBox4.setAttribute("value", "1");
        checkBox4.setAttribute("onkeyup", "clearNoNum(this)");
        checkBox4.setAttribute("class","input_least_mini_style");
        leastCellNum.appendChild(checkBox4);

        row.appendChild(leastCellNum);

        //售价
        var price = document.createElement('td');//创建第二列name  
        var priceLable = document.createElement('span')
        priceLable.innerHTML = "售价:";
        price.appendChild(priceLable);

        var checkBox5=document.createElement("input");
        checkBox5.setAttribute("type","text");
        checkBox5.setAttribute("name", "setmealPrice");
        checkBox5.setAttribute("value",dishPrice);
        checkBox5.setAttribute("onkeyup", "clearNoNum(this)");
        checkBox5.setAttribute("class", "input_least_mini_style");
        price.appendChild(checkBox5);

        row.appendChild(price);


        var delCell = document.createElement('td');
        row.appendChild(delCell);

        var img=document.createElement("img");
        img.src="/marketing/images/delete_icon.png";
        img.className="icon_middle_style";
        img.style="cursor: pointer;";

        //删除操作  
        img.onclick=function(){
            this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
        }
        delCell.appendChild(img);  //把删除按钮加入td

        tbody.appendChild(row);
    }


    function settingPriceView(type) {
        if(type == 1){
            document.getElementById("timing_charge").style.display='none';
            document.getElementById("unit_price_view").style.display='block';
        }else if(type == 2){
            document.getElementById("timing_charge").style.display='block';
            document.getElementById("unit_price_view").style.display='none';
        }
    }

    $(function () {
        var priceModle =  document.getElementById("priceModle").value;

        $(":radio[name='settingPriceModle'][value='" + priceModle + "']").prop("checked", "checked");

        settingPriceView(priceModle);
    });


</script>

<body>

<input type="hidden" id="tempSetmealId" name="tempSetmealId" value="-200001">

<input type="hidden" id="addTableId" name="addTableId" value="-100001">

<input type="hidden" id="currentTypeId" name="currentTypeId">

<div id="batchDialog" style="display: none">

    <div style="background-color: rgba(204,204,204,0.5); width: 100%; position: absolute; height: 100%; z-index: 1;display:flex;justify-content:center;align-items:center;">

        <div style="margin-top: 10px; background-color: #FFFFFF;width: 500px;height: 300px;opacity:1;margin:0 auto;border-style:solid;border-style:solid;border-width:5px;border-color:#f8f8f8">
            <div>
                <div style="margin: 12px;width: 100%;" class="parent">
                    <span id="dialogTitle" class="dialog_title_style" style="width: 100%">进货信息</span>
                    <img th:src="@{/images/close.png}" src="../static/images/close.png" class="image_mini_size_style" style="margin-left: -43px;cursor: pointer" onclick="closePurchaseDialog()">
                </div>
                <div style="width: 100%;height: 1px;background-color: #e1e1e1"></div>
            </div>
            <div style="margin-top: 30px;width: 100%" class="parent_h container">
                <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                <label class="text_navigation" style="margin-right: 10px;">选择货源</label>

                <select class="add_input_style" id="selectSupplierId" name="supplierId" style="margin-left: 5px">
                    <option value="">点击下拉选择对应货源</option>
                    <option th:each="list:${listSupplier}" th:value="${list.id}" th:text="${list.name}"></option>
                </select>

            </div>
            <div style="margin-top: 15px;width: 100%" class="parent_h container">
                <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                <label class="text_navigation" style="margin-right: 10px;">进货数量</label>
                <input type="text" id="inputSupplierCount" onkeyup="clearNoNum(this)" name="inputSupplierCount" maxlength="50" class="add_input_style">

            </div>
            <div style="margin-top: 15px;width: 100%" class="parent_h container">
                <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                <label class="text_navigation" style="margin-right: 10px;">进货价格</label>
                <input type="text" id="intputSupplierPrice" onkeyup="clearNoNum(this)" name="intputSupplierPrice" maxlength="50" class="add_input_style">

            </div>
            <div style="margin-top: 30px" class="parent_h container">
                <button class="gray_button_style" onclick="closePurchaseDialog()">取消</button>
                <button class="blue_button_style" onclick="addPurchase()" style="margin-left: 15px">确定</button>
            </div>

        </div>

    </div>
</div>


<div id="setmealTypeDialog" style="display: none">

    <div style="background-color: rgba(204,204,204,0.5); width: 100%; position: absolute; height: 120%; z-index: 1;display:flex;justify-content:center;align-items:center;">

        <div style="margin-top: 10px; background-color: #FFFFFF;width: 500px;height: 300px;opacity:1;margin:0 auto;border-style:solid;border-width:5px;border-color:#f8f8f8">
            <div>
                <div style="margin: 12px;width: 100%;" class="parent">
                    <span class="dialog_title_style" style="width: 100%">新建/编辑子品类别</span>
                    <img th:src="@{/images/close.png}" src="../static/images/close.png" class="image_mini_size_style" style="margin-left: -43px;cursor: pointer" onclick="closeGroupDialog()">
                </div>
                <div style="width: 100%;height: 1px;background-color: #e1e1e1"></div>
            </div>
            <input type="hidden" id="inputTypeId" name="inputTypeId" maxlength="50" class="add_input_style">

            <div style="margin-top: 25px;width: 100%" class="parent_h container">
                <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                <label class="text_navigation" style="margin-right: 10px;">类别名称</label>
                <input type="text" id="inputTypeName" name="inputTypeName" maxlength="50" class="add_input_style">

            </div>

            <div style="margin-top: 15px;width: 100%" class="parent_h container">
                <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                <label class="text_navigation" style="margin-right: 10px;">至少必选</label>
                <input type="text" id="inputOrderMin" onkeyup="clearNoNum(this)" name="inputOrderMin" maxlength="50" class="add_input_style">

            </div>

            <div style="margin-top: 15px;width: 100%" class="parent_h container">
                <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                <label class="text_navigation" style="margin-right: 10px;">至多可选</label>
                <input type="text" id="intputOrderMax" onkeyup="clearNoNum(this)" name="intputOrderMax" maxlength="50" class="add_input_style">

            </div>
            <div style="margin-top: 30px" class="parent_h container">
                <button class="gray_button_style" onclick="closeGroupDialog()">取消</button>
                <button class="blue_button_style" onclick="addGroupType()" style="margin-left: 15px">确定</button>
            </div>

        </div>

    </div>
</div>


<div class="parent top_view_style" style="background-color: #FFFFFF">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 30%">套餐添加/编辑</label>

    <div align="right" style="width: 100%;margin-right: 50px">
        <button class="gray_button_style" onclick="javascript :history.back(-1);" >返回</button>
        <button class="blue_button_style" style="margin-left: 15px" onclick="savePackageDish()">保存添加</button>
    </div>
</div>


<form method="post" name="addform" action="" th:action="@{/dishShop/addOrUpdatePackage}" th:object="${mDishShopModel}">

    <input type="hidden" name="dishTypeId" th:value="${mDishShopModel.dishTypeId}">
    <input type="hidden" name="dishShopId" th:value="${mDishShopModel.dishShopId}">

    <input type="hidden" name="priceModle" id="priceModle" th:value="${mDishShopModel.priceModle}">

    <input type="hidden" id="type" name="type">
    <input type="hidden" id="supplierId" name="supplierId">
    <input type="hidden" id="supplierName" name="supplierName">
    <input type="hidden" id="supplierCount" name="supplierCount">
    <input type="hidden" id="supplierPrice" name="supplierPrice">


    <div style="margin: 10px;padding: 20px" class="modle_background_style">
        <div class="parent">
            <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
            <label class="text_navigation" style="margin-left: 10px; font-weight: bold">品项基本信息</label>
        </div>
        <div style="margin-top: 15px">
            <span style="color: #FF6600;size: 12px">*</span>
            <label class="text_navigation" style="margin-left: 10px">品项名称</label>
            <input class="add_input_style" id="name" name="name" th:value="${mDishShopEntity.name}" placeholder="输入品项名称" style="margin-left: 5px" type="text"/>
        </div>
        <div style="margin-top: 15px">
            <span style="color: #FF6600;size: 12px">*</span>
            <label class="text_navigation" style="margin-left: 10px">品项编码</label>
            <input class="add_input_style" id="dishCode" name="dishCode" th:value="${mDishShopEntity.dishCode}" placeholder="输入品项编码" style="margin-left: 5px" type="text"/>
        </div>

        <div style="margin-top: 15px;margin-left: 20px">
            <input type="radio" value="1" name="settingPriceModle" onchange="settingPriceView(1)"/><span class="text_navigation" style="margin-right: 20px; margin-left: 10px">单价收费</span>
            <input type="radio" value="2" name="settingPriceModle" onchange="settingPriceView(2)"/><span class="text_navigation" style="margin-left: 10px">计时收费</span>
        </div>

        <div id="timing_charge" style="display: none">
            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 19px">起始计价</label>

                <label class="text_navigation" style="margin-left: 10px">前</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入时间" style="margin-left: 5px" type="text"/>

                <label class="text_navigation" style="margin-left: 5px">小时</label>
                <label class="text_navigation" style="margin-left: 10px">计费</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入金额" style="margin-left: 5px" type="text"/>
                <label class="text_navigation" style="margin-left: 10px">元</label>

                <span style="font-size: 12px; color: #aeb3b9;margin-left: 15px">例如：前2小时计费100元，则时间输入2，金额输入100；</span>
            </div>

            <div style="margin-top: 15px">
                <label class="text_navigation" style="margin-left: 19px">计费单价</label>

                <label class="text_navigation" style="margin-left: 10px">每</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入时间" style="margin-left: 5px" type="text"/>

                <label class="text_navigation" style="margin-left: 5px">小时</label>
                <label class="text_navigation" style="margin-left: 10px">计费</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入金额" style="margin-left: 5px" type="text"/>
                <label class="text_navigation" style="margin-left: 10px">元</label>

                <span style="font-size: 12px; color: #aeb3b9;margin-left: 15px">例如：每1小时收费60元，则时间输入1，金额输入60；</span>
            </div>

            <div style="margin-top: 15px">

                <label class="text_navigation" style="margin-left: 80px">满</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入时间" style="margin-left: 5px" type="text"/>
                <label class="text_navigation" style="margin-left: 5px">分钟</label>
                <label class="text_navigation" style="margin-left: 10px">计为</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入金额" style="margin-left: 5px" type="text"/>
                <label class="text_navigation" style="margin-left: 10px">小时</label>

                <span style="font-size: 12px; color: #aeb3b9;margin-left: 15px">例如：满30分钟计为1小时，则时间输入30，计为输入1；</span>
            </div>

            <div style="margin-top: 15px">

                <label class="text_navigation" style="margin-left: 68px">不满</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入时间" style="margin-left: 5px" type="text"/>
                <label class="text_navigation" style="margin-left: 5px">分钟</label>
                <label class="text_navigation" style="margin-left: 10px">计为</label>
                <input class="input_least_mini_style" onkeyup="clearNoNum(this)" placeholder="输入金额" style="margin-left: 5px" type="text"/>
                <label class="text_navigation" style="margin-left: 10px">小时</label>

                <span style="font-size: 12px; color: #aeb3b9;margin-left: 15px">例如：不满30分钟计为0.5小时，则时间输入30，计为输入0.5；</span>
            </div>
        </div>

        <div id="unit_price_view" style="margin-top: 15px;display: none;">
            <span style="color: #FF6600;size: 12px">*</span>
            <label class="text_navigation" style="margin-left: 10px">售卖价格</label>
            <input class="add_input_style" id="marketPrice" th:value="${mDishShopEntity.marketPrice}" onkeyup="clearNoNum(this)" name="marketPrice" placeholder="输入售卖价格" style="margin-left: 5px" type="text"/>
        </div>

        <div style="margin-top: 15px">
            <span style="color: #FF6600;size: 12px">*</span>
            <label class="text_navigation" style="margin-left: 10px">品项单位</label>
            <input class="add_input_style" id="unitName" name="unitName" th:value="${mDishShopEntity.unitName}" placeholder="输入品项单位" style="margin-left: 5px" type="text"/>
        </div>

        <div style="margin-top: 15px" class="parent container">
            <label class="text_navigation" style="margin-left: 20px">进货信息</label>
            <div onclick="showPurchaseDialog()" class="parent container" style="margin-left: 8px; cursor: pointer;background-color: #e8f2ff;padding-left: 10px;border-radius: 5px;">
                <label class="text_navigation" style="color: #32b323">进货</label>
                <img class="icon_style" src="../static/images/purchase_dish_icon.png" th:src="@{/images/purchase_dish_icon.png}">
            </div>
        </div>

        <div style="margin-top: 15px">

            <label class="text_navigation" style="margin-left: 20px">库存数量</label>
            <input class="add_input_style" readonly="readonly" id="dishQty" name="dishQty" th:value="${mDishShopEntity.dishQty}" placeholder="库存数量" style="margin-left: 5px" type="text"/>
        </div>
    </div>

    <div style="margin: 10px;padding: 20px" class="modle_background_style">
        <div class="parent">
            <img th:src="@{/images/lable.jpg}" style="height: 25px; width: 4px">
            <label class="text_navigation" style="margin-left: 10px; font-weight: bold">套餐子项</label>
        </div>

        <div class="blue_button_style parent_h container" style="margin-left: 15px" onclick="showGroupDialog(0)">+新建子项组别</div>

        <div align="center" style="margin-top: 10px">

            <div id="setmealType"></div>

            <div th:each="groupItem:${listSetmealModel}" style="margin-bottom: 20px;margin-top: 10px">

                <table class="gridtablestyle" style="width: 98%; vertical-align: middle;margin-top: 10px" th:id="${groupItem.mDishSetmealGroup.id}">
                    <tr style="width: 100%">
                        <th style="width: 30%">
                            <span th:text="${groupItem.mDishSetmealGroup.name}" th:id="${groupItem.mDishSetmealGroup.id}+'_nameText'"></span>
                            <input type="hidden" name="setmealTypeId" th:value="${groupItem.mDishSetmealGroup.id}">
                            <input type="hidden" name="setmealTypeName" th:value="${groupItem.mDishSetmealGroup.name}" th:id="${groupItem.mDishSetmealGroup.id}+'_name'">

                        </th>
                        <th style="width: 20%" colspan="2">
                            至少必选：<span th:text="${groupItem.mDishSetmealGroup.orderMin}" th:id="${groupItem.mDishSetmealGroup.id}+'_orderMinText'"></span>
                            <input type="hidden" name="typeOrderMin" th:value="${groupItem.mDishSetmealGroup.orderMin}" th:id="${groupItem.mDishSetmealGroup.id}+'_orderMin'">
                        </th>
                        <th  style="width: 20%" colspan="2">
                            至多可选：<span th:text="${groupItem.mDishSetmealGroup.orderMax}" th:id="${groupItem.mDishSetmealGroup.id}+'_orderMaxText'"></span>
                            <input type="hidden" name="typeOrderMax" th:value="${groupItem.mDishSetmealGroup.orderMax}" th:id="${groupItem.mDishSetmealGroup.id}+'_orderMax'">
                        </th>
                        <th  style="width: 30%" colspan="3">
                            <div class="parent">
                                <img style="cursor: pointer;margin-right: 20px" th:onclick="'javascript:showGroupDialog(\''+${groupItem.mDishSetmealGroup.id}+'\')'" class="icon_middle_style" src="../static/images/modfity_icon.png" th:src="@{/images/modfity_icon.png}">
                                <img style="cursor: pointer" class="icon_middle_style" th:onclick="'javascript:delAllRow(\''+${groupItem.mDishSetmealGroup.id}+'\')'" th:src="@{/images/delete_icon.png}">
                                <div class="container parent_h blue_button_style" style="margin-left: 15px" th:onclick="'javascript:selectDish(\''+${groupItem.mDishSetmealGroup.id}+'\')'">+添加子项</div>
                            </div>
                        </th>

                    </tr>

                    <tr th:each="item:${groupItem.listSetmeal}">
                        <td>
                            <span th:text="${item.dishName}"></span>

                            <input type="hidden" name="comboDishTypeId" th:value="${groupItem.mDishSetmealGroup.id}">
                            <input type="hidden" name="setmealId" th:value="${item.id}">
                            <input type="hidden" name="setmealName" th:value="${item.dishName}">
                            <input type="hidden" name="childDishId" th:value="${item.childDishId}">
                        </td>
                        <td>
                            必选:<input type="checkbox" name="isReplace" th:value="${item.id}" th:attr ="checked=${item.isReplace==1?true:false}">
                        </td>
                        <td>
                            默认选中:<input type="checkbox" name="isDefault" th:value="${item.id}" th:attr ="checked=${item.isDefault==1?true:false}">
                        </td>
                        <td>
                            可复选:<input type="checkbox" name="isMulti" th:value="${item.id}" th:attr ="checked=${item.isMulti==1?true:false}">
                        </td>
                        <td>
                            起卖数:<input type="text" name="leastCellNum" th:value="${item.leastCellNum}" onkeyup="clearNoNum(this)" class="input_least_mini_style">
                        </td>
                        <td>
                            售价:<input type="text" name="setmealPrice" th:value="${item.price}" onkeyup="clearNoNum(this)" class="input_least_mini_style"></span>
                        </td>
                        <td align="center">
                            <img style="cursor: pointer;" class="icon_middle_style" th:src="@{/images/delete_icon.png}" onclick="delRow(this)">
                        </td>
                    </tr>

                    <tbody th:id="${groupItem.mDishSetmealGroup.id}"></tbody>

                </table>
            </div>

        </div>

    </div>

</form>


<div align="center" style="margin: 20px;padding: 20px">
    <button class="gray_button_style" onclick="javascript :history.back(-1);">返回</button>

    <button class="blue_button_style" style="margin-left: 15px" onclick="savePackageDish()">保存基本信息</button>
</div>

<div class="zm-dialog" />

</body>
</html>
