<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }


</style>

<head>
    <meta charset="UTF-8">
    <title>品项类型界面</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
    <link rel="stylesheet" th:href="@{/css/customer.css}" href="../static/css/customer.css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
    <!--<script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js" ></script>-->
    <!--<script type="text/javascript" th:src="@{/js/window/window.ext.js}" src="../static/js/window/window.ext.js" ></script>-->

    <!-- diglog -->
    <script type="text/javascript" th:src="@{/js/diy_dialog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/diy_dialog.css}" type="text/css" />

    <link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/tips/tips.js}"></script>
</head>

<script type="text/javascript">

    $(function() {
        var successOrfail = document.getElementById("successOrfail").value;
        if(successOrfail != '' && successOrfail != undefined && successOrfail != null){
            if(successOrfail == "success"){
                successTips('操作成功','品项操作成功！');
            }else if(successOrfail == "fail"){
                errorTips('操作失败','品项操作失败，请优先排查输入信息');
            }
        }
    });


    function checkDelete(deleteId, name,type){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId,type);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId,type) {

        const Url = "[[${basePath}]]/dishShop/deleteDishShop?dishShopId="+deleteId+"&type="+type;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
                successTips('操作成功','品项操作成功！');
            }
        }

    }


    function showPurchaseDialog() {
        document.getElementById('PurchaseDialog').style.display='block';
    }

    function closePurchaseDialog() {
        document.getElementById('PurchaseDialog').style.display='none';
    }

    function showSalesDialog() {
        document.getElementById('salesDialog').style.display='block';
    }

    function closeSalesDialog() {
        document.getElementById('salesDialog').style.display='none';
    }

    function purchaseAction(dishShopId,dishTypeId) {
        showPurchaseDialog();
        $('#dishShopId').val(dishShopId)
        $('#dishTypeId').val(dishTypeId)
    }

    function salesAction(dishShopId,dishTypeId) {

        showSalesDialog();
        $('#salesDishShopId').val(dishShopId)
        $('#salesDishTypeId').val(dishTypeId)
    }

    function addPurchaseAction() {
        var supplierId = $('#selectSupplierId option:selected').val();
        var supplierCount = $('#supplierCount').val();
        var supplierPrice = $('#supplierPrice').val();

        if(supplierId == '' || supplierId == undefined || supplierId == null){
            warningTips("操作异常提示","请选择货源");
        }else if(supplierCount == '' || supplierCount == undefined || supplierCount == null){
            warningTips("操作异常提示","进货数量不能为空");
        }else if(supplierPrice == '' || supplierPrice == undefined || supplierPrice == null){
            warningTips("操作异常提示","进货价格不能为空");
        }else{
            document.addPurchase.submit();
            closePurchaseDialog();
        }

    }

    function addSalesAction() {

        var salesSupplierCount = $('#salesSupplierCount').val();
        if(salesSupplierCount == '' || salesSupplierCount == undefined || salesSupplierCount == null){
            warningTips("操作异常提示","销货数量不能为空");
        }else{
            document.addSales.submit();
        }

    }

    function selectSupplier() {
        var supplierName = $('#selectSupplierId option:selected').text();
        $('#supplierName').val(supplierName);
    }

</script>


<body>
<div id="showDialog"></div>

<div id="PurchaseDialog" style="display: none">

    <div style="background-color: rgba(204,204,204,0.5); width: 100%; position: absolute; height: 100%; z-index: 1;">

        <div style="margin-top: 10px; background-color: #FFFFFF;width: 40%;height: 300px;opacity:1;margin-top: 10%;margin-left: 30%;border-style:solid;border-width:5px;border-color:#f8f8f8">
            <div>
                <div style="margin: 12px;width: 100%;" class="parent">
                    <span id="dialogTitle" class="dialog_title_style" style="width: 100%">进货信息</span>
                    <img th:src="@{/images/close.png}" src="../static/images/close.png" class="image_mini_size_style" style="margin-left: -43px;cursor: pointer" onclick="closePurchaseDialog()">
                </div>
                <div style="width: 100%;height: 1px;background-color: #e1e1e1"></div>
            </div>

            <form method="post" name="addPurchase" id="addPurchase" action="" th:action="@{/dishShop/modiftyPurchase}" th:object="${mDishShopModel}">

                <input type="hidden" id="dishShopId" name="dishShopId">
                <input type="hidden" id="dishTypeId" name="dishTypeId">

                <input type="hidden" id="supplierName" name="supplierName">

                <div style="margin-top: 30px;width: 100%" class="parent_h container">
                    <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                    <label class="text_navigation" style="margin-right: 10px;">选择货源</label>

                    <select class="add_input_style" onchange="selectSupplier()" id="selectSupplierId" name="supplierId" style="margin-left: 5px">
                        <option value="">点击下拉选择对应货源</option>
                        <option th:each="list:${listSupplier}" th:value="${list.id}" th:text="${list.name}"></option>
                    </select>

                </div>
                <div style="margin-top: 15px;width: 100%" class="parent_h container">
                    <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                    <label class="text_navigation" style="margin-right: 10px;">进货数量</label>
                    <input type="text" id="supplierCount" onkeyup="clearNoNum(this)" name="supplierCount" maxlength="50" class="add_input_style">

                </div>
                <div style="margin-top: 15px;width: 100%" class="parent_h container">
                    <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                    <label class="text_navigation" style="margin-right: 10px;">进货价格</label>
                    <input type="text" id="supplierPrice" onkeyup="clearNoNum(this)" name="supplierPrice" maxlength="50" class="add_input_style">

                </div>

            </form>

            <div style="margin-top: 30px" class="parent_h container">
                <button class="gray_button_style" onclick="closePurchaseDialog()">取消</button>
                <button class="blue_button_style" onclick="addPurchaseAction()" style="margin-left: 15px">确定</button>
            </div>

        </div>

    </div>
</div>


<div id="salesDialog" style="display: none">

    <div style="background-color: rgba(204,204,204,0.5); width: 100%; position: absolute; height: 100%; z-index: 1;">

        <div style="margin-top: 10px; background-color: #FFFFFF;width: 40%;height: 200px;opacity:1;margin-top: 10%;margin-left: 30%;border-style:solid;border-width:5px;border-color:#f8f8f8">
            <div>
                <div style="margin: 12px;width: 100%;" class="parent">
                    <span class="dialog_title_style" style="width: 100%">销货信息</span>
                    <img th:src="@{/images/close.png}" src="../static/images/close.png" class="image_mini_size_style" style="margin-left: -43px;cursor: pointer" onclick="closeSalesDialog()">
                </div>

            </div>
            <form method="post" name="addSales" id="addSales" th:action="@{/dishShop/modfitySales}" th:object="${mDishShopModel}">

                <input type="hidden" id="salesDishShopId" name="salesDishShopId">
                <input type="hidden" id="salesDishTypeId" name="salesDishTypeId">
                <input type="hidden" id="salesSupplierName" name="salesSupplierName">

                <div style="width: 100%;height: 1px;background-color: #e1e1e1;"></div>

                <div style="margin-top: 36px;width: 100%" class="parent_h container">
                    <span style="color: #FF6600;size: 12px">* &nbsp;</span>
                    <label class="text_navigation" style="margin-right: 10px;">进货数量</label>
                    <input type="text" onkeyup="clearNoNum(this)" name="salesSupplierCount" id="salesSupplierCount" maxlength="50" class="add_input_style">

                </div>
            </form>
            <div style="margin-top: 30px" class="parent_h container">
                <button class="gray_button_style" onclick="closeSalesDialog()">取消</button>
                <button class="blue_button_style" onclick="addSalesAction()" style="margin-left: 15px">确定</button>
            </div>

        </div>

    </div>
</div>


<input type="hidden" id="successOrfail" th:value="${mDishShopModel.successOrfail}">



<button class="blue_button_style" style="margin-top: 10px;margin-left: 15px" th:onclick="@{|location='${basePath}/dishShop/intoAddOrUpdateSingleDish?dishTypeId=${mDishShopModel.dishTypeId}'|}">+新建单品</button>

<button class="blue_button_style" style="margin-top: 10px;margin-left: 15px" th:onclick="@{|location='${basePath}/dishShop/intoAddOrUpdatePackageDish?dishTypeId=${mDishShopModel.dishTypeId}'|}">+新建套餐</button>

<div align="center" style="margin-top: 10px;width: 100%">
    <table class="gridtablestyle" style="width: 98%; vertical-align: middle">
        <tr style="width: 100%">
            <th style="padding-left: 10px;padding-right: 10px">品项名称</th>
            <th>品项编码</th>
            <th>品项类型</th>
            <th>销售价格</th>
            <th>库存</th>
            <th>单位</th>
            <th>编辑&nbsp;&nbsp;进货&nbsp;&nbsp;销货&nbsp;&nbsp;删除</th>
        </tr>
        <tr th:each="item:${listDishData}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.dishCode}"></td>

            <td>
                <div th:switch="${item.type}">
                    <p th:case="'0'">
                        单品
                    </p>
                    <p th:case="'1'">
                        套餐
                    </p>
                </div>
            </td>
            <td th:text="${item.marketPrice}"></td>
            <td th:text="${item.dishQty}"></td>
            <td th:text="${item.unitName}"></td>
            <td align="center">
                <div class="parent_h container">

                    <div th:switch="${item.type}">
                        <p th:case="'0'">
                            <img th:onclick="@{|location='${basePath}/dishShop/intoAddOrUpdateSingleDish?dishShopId=${item.id}&dishTypeId=${item.dishTypeId}'|}" style="cursor: pointer" class="icon_middle_style" src="../static/images/modfity_icon.png" th:src="@{/images/modfity_icon.png}">
                        </p>
                        <p th:case="'1'">
                            <img th:onclick="@{|location='${basePath}/dishShop/intoAddOrUpdatePackageDish?dishShopId=${item.id}&dishTypeId=${item.dishTypeId}'|}" style="cursor: pointer" class="icon_middle_style" src="../static/images/modfity_icon.png" th:src="@{/images/modfity_icon.png}">
                        </p>
                    </div>



                    <img th:onclick="'javascript:purchaseAction(\''+${item.id}+'\',\''+${item.dishTypeId}+'\')'" style="cursor: pointer" class="icon_middle_style" src="../static/images/purchase_dish_icon.png" th:src="@{/images/purchase_dish_icon.png}">

                    <img th:onclick="'javascript:salesAction(\''+${item.id}+'\',\''+${item.dishTypeId}+'\')'" style="cursor: pointer" class="icon_middle_style" src="../static/images/sales_icon.png" th:src="@{/images/sales_icon.png}">

                    <img th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.name}+'\',\''+${item.dishTypeId}+'\')'" style="cursor: pointer" class="icon_middle_style" src="../static/images/delete_icon.png" th:src="@{/images/delete_icon.png}">
                </div>
            </td>

        </tr>
    </table>
</div>

<div class="paging">
    <div th:replace="page_info::pagination"/>
</div>

</body>
</html>
