<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }


</style>

<head>
    <meta charset="UTF-8">
    <title>品项类型界面</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
    <link rel="stylesheet" th:href="@{/css/customer.css}" href="../static/css/customer.css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js" ></script>

</head>

<script type="text/javascript">
    function showOrCloseBatchDialog(type,source) {

        if(type == 1){
            if(source == 1){
                document.getElementById('dialogTitle').innerText = '新建一级类别';
            }else if(source == 2){
                document.getElementById('dialogTitle').innerText = '新建子类别';
            }


            document.getElementById('batchDialog').style.display='block';
        }
        else{
            document.getElementById('batchDialog').style.display='none';
        }
    }
</script>


<body>

<div id="batchDialog" style="display: none">

    <div style="background-color: rgba(204,204,204,0.5); width: 100%; position: absolute; height: 100%; z-index: 1;">

        <div style="margin-top: 10px; background-color: #FFFFFF;width: 460px;height: 260px;opacity:1;margin-top: 10%;margin-left: 30%;border-style:solid;border-width:5px;border-color:#f8f8f8">
            <div>
                <div style="margin: 12px;width: 100%;" class="parent">
                    <span id="dialogTitle" class="dialog_title_style" style="width: 100%"></span>
                    <img th:src="@{/images/close.png}" src="../static/images/close.png" class="image_mini_size_style" style="margin-left: -43px;cursor: pointer" onclick="showOrCloseBatchDialog(0,'')">
                </div>
                <div style="width: 100%;height: 1px;background-color: #e1e1e1"></div>
            </div>
            <div style="margin-top: 30px;width: 100%" class="parent_h container">
                <label class="text_navigation" style="margin-right: 10px;">分类名称</label>
                <input type="text" id="typeName" onkeyup="clearNoNum(this)" class="add_input_style">

            </div>
            <div style="margin-top: 15px;width: 100%" class="parent_h container">
                <label class="text_navigation" style="margin-right: 10px;">分类编号</label>
                <input type="text" id="typeCode" onkeyup="clearNoNum(this)" class="add_input_style">

            </div>
            <div style="margin-top: 30px" class="parent_h container">
                <button class="gray_button_style" onclick="showOrCloseBatchDialog(0,'')">取消</button>
                <button class="blue_button_style" onclick="submitBrachData()" style="margin-left: 15px">确定</button>
            </div>

        </div>

    </div>
</div>

<div>
    <button class="blue_button_style" style="margin-left: 3%;margin-top: 10px" onclick="showOrCloseBatchDialog(1,1)">+新建一级类别</button>
</div>


<div align="center" style="margin-top: 10px">

    <div th:each="groupItem:${listData}" style="margin-bottom: 20px;margin-top: 10px">
        <table class="gridtablestyle" style="width: 96%; vertical-align: middle;margin-top: 10px">
            <tr style="width: 100%">
                <th width="25%" th:text="${groupItem.dishBrandTypeEntity.name}"></th>
                <th>
                    最近更新时间：<span th:text="${#dates.format(groupItem.dishBrandTypeEntity.serverUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </th>
                <th><div class="parent container"><img th:src="@{/images/modfity_icon.png}" class="image_size_style">&nbsp;&nbsp;&nbsp;&nbsp;<img th:src="@{/images/delete_icon.png}" class="image_size_style"></div></th>
                <th><button class="blue_button_style" th:id="${groupItem.dishBrandTypeEntity.id}" onclick="showOrCloseBatchDialog(1,2)">+新建子类别</button></th>
            </tr>
            <tr th:each="item:${groupItem.listType}">
                <td th:text="${item.name}"></td>
                <td>
                    最近更新时间：<span th:text="${#dates.format(item.serverUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </td>
                <td colspan="2"><div class="parent container"><img th:src="@{/images/modfity_icon.png}" class="image_size_style">&nbsp;&nbsp;&nbsp;&nbsp;<img th:src="@{/images/delete_icon.png}" class="image_size_style"></div></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>
