<!DOCTYPE html>
<html>

<style type="text/css">

    .main{
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>选择报表</title>

    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/widget.css" type="text/css" />
</head>

<body>

<div class="main">
    <img th:src="@{/images/empty.png}" style="height: auto">
    <div>
        <p class="tips_fail_mini_text_style">点击左边菜单栏选择要查看的报表信息</p>
    </div>

</div>

</body>
</html>