<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>门店数据初始化</title>
</head>

<link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />

<link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
<link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />

<!-- tips 提示框引用-->
<link rel="stylesheet" th:href="@{/tips/jquery.toast.css}">
<script type="text/javascript" th:src="@{/tips/jquery.toast.js}"></script>
<script type="text/javascript" th:src="@{/tips/tips.js}"></script>
<script type="text/javascript">

    function showAction() {
        var successOrfail = document.getElementById("successOrfail").value;
        if(successOrfail != '' && successOrfail != undefined && successOrfail != null){
            if(successOrfail == "success"){
                successTips('操作成功','设置成功，可进行相关操作使用');
            }else if(successOrfail == "fail"){
                errorTips('操作失败','设置失败，请优先排查输入信息');
            }
        }
    }

</script>
<body onload="showAction()">

<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 80%">门店初始化</label>

    <button class="gray_button_style" th:onclick="@{|location='${basePath}/internal/erp/shopManager/shopList?creatorId=${mCommercialModel.creatorId}&creatorName=${mCommercialModel.creatorName}'|}">返回列表</button>
</div>


    <input type=hidden id="successOrfail" th:value="${mCommercialModel.successOrfail}">

    <div class="parent_h container" style="background-color: #77ee77;margin: 20px;padding: 10px;border-radius: 5px;cursor:pointer;width: 160px"
         th:onclick="@{|location='${basePath}/internal/erp/shopManager/initialize?brandId=${mCommercialModel.brandId}&commercialId=${mCommercialModel.commercialId}&creatorId=${mCommercialModel.creatorId}&creatorName=${mCommercialModel.creatorName}'|}">

        <img th:src="@{/images/super_user.png}" src="../static/images/super_user.png" class="icon_size_style">
        <span class="text_navigation" style="margin-left: 5px;color: #FFFFFF">初始化超级管理员</span>

    </div>


</body>
</html>