<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>品牌列表数据</title>
</head>

<link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

<!-- diglog -->
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../static/js/diy_dialog.js" th:src="@{/js/diy_dialog.js}"></script>
<link rel="stylesheet" href="../static/css/diy_dialog.css" th:href="@{/css/diy_dialog.css}" type="text/css" />


<script type="text/javascript">

    function checkDelete(deleteId, name){
        var message = "请确认是否要删除: "+name+"?";
        dialogBox(message,
            function () {
                deleteRequest(deleteId);
            },
            function(){

            }
        );
    }

    function deleteRequest (deleteId) {

        const Url = "[[${basePath}]]/internal/erp/device/deleteDevice?id="+deleteId;

        const Http = new XMLHttpRequest();

        Http.open("GET",Url);

        Http.send();

        Http.onreadystatechange=function () {
            if(this.readyState == 4 && this.status == 200){
                location.reload();
            }
        }

    }

</script>

<body>

<div class="parent top_view_style">
    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">
    <label class="text_navigation" style="margin-left: 10px;width: 80%">品牌信息列表</label>


    <div class="parent_h container" style="margin: 20px; border: 1px dotted #029ef3;width: 130px;height: 30px;padding: 10px;border-radius: 6px;background-color:#93c6ef;text-align: center;cursor: pointer"
         th:onclick="@{|location='${basePath}/internal/erp/device/gotoBinding?creatorId=${mERPDeviceModel.creatorId}&creatorName=${mERPDeviceModel.creatorName}'|}">
        <img th:src="@{/images/create_icon.png}" src="../static/images/create_icon.png" class="icon_size_style" style="cursor: pointer">
        <span class="text_navigation" style="margin-left: 10px; color: #FFFFFF;cursor: pointer">绑定设备</span>
    </div>

</div>

<div id="showDialog"></div>

<form method="post" action="" th:action="@{/internal/erp/device/list(creatorId=${mERPDeviceModel.creatorId},creatorName=${mERPDeviceModel.creatorName})}" th:object="${mERPDeviceModel}">
    <div style="margin-top: 10px">

        <label class="text_navigation" style="margin-left: 10px">品牌编号</label>
        <input class="input_style" style="margin-left: 5px;width: 150px" type="text" name="brandIdenty"/>

        <label class="text_navigation" style="margin-left: 10px">门店编号</label>
        <input class="input_style" style="margin-left: 5px;width: 150px" type="text" name="shopIdenty"/>

        <label class="text_navigation" style="margin-left: 10px">设备编号</label>
        <input class="input_style" style="margin-left: 5px;width: 150px" type="text" name="deviceNo"/>

        <label class="text_navigation" style="margin-left: 10px">MAC地址</label>
        <input class="input_style" style="margin-left: 5px;width: 150px" type="text" name="deviceMac"/>

        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>

    </div>
</form>

<div align="center" style="margin-top: 10px">
    <table class="gridtablestyle" style="width: 96%; vertical-align: middle">
        <tr style="width: 100%">
            <th>品牌编号</th>
            <th>门店编号</th>
            <th>设备编号</th>
            <th>MAC地址</th>
            <th>使用状态</th>
            <th>操作时间</th>
            <th>操作</th>
        </tr>
        <tr th:each="item:${listData}">
            <td th:text="${item.brandIdenty}"></td>
            <td th:text="${item.shopIdenty}"></td>
            <td th:text="${item.deviceNo}"></td>
            <td th:text="${item.deviceMac}"></td>


            <td>
                <div th:switch="${item.statusFlag}">
                    <p th:case="'1'">
                        正常使用
                    </p>
                    <p th:case="'2'">
                        停止使用
                    </p>
                </div>
            </td>

            <td th:text="${#dates.format(item.serverUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <td align="center">
                <a th:href="@{/internal/erp/device/gotoBinding(id=${item.id},creatorId=${mERPDeviceModel.creatorId},creatorName=${mERPDeviceModel.creatorName})}">编辑</a>

                <a th:onclick="'javascript:checkDelete(\''+${item.id}+'\',\''+${item.deviceNo}+'\')'" style="cursor: pointer">删除</a>
            </td>

        </tr>

    </table>
</div>

<div class="paging">

    <div th:replace="page_info::pagination"/>

</div>

</body>
</html>