<!DOCTYPE html>
<html>
<style type="text/css">
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
        display: flex;
        flex-wrap: wrap;

    }

    .activity_style{
        color: #e16531;
        font-size: 13px;
        font-weight: bold;
    }

    .activity_lable_style{
        font-weight: bold;
        margin-left: 6px;
        margin-right: 20px;
        color: #e16531;
    }


</style>
<head>
    <meta charset="UTF-8">
    <title>营销</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" type="text/css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript">
        $(function () {
            $(".markerting_card_bg_style").click(function () {
                window.location.href = $(this).attr("href");
            })
        })
    </script>
</head>
<body>
<div>
    <div class="container">
        <img th:src="@{/images/lable.jpg}" width="5" height="26">
        <p class="activity_lable_style">促销活动</p>

        <div class="markerting_card_bg_style parent" th:href="@{/pushPlanNewDish}">
                <img th:src="@{/images/new_dish_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">新品推广</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/coupon}">
            <img th:src="@{/images/coupon_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">优惠券</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/pushPlanActivity/list}">
            <img th:src="@{/images/shop_marketing_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">活动推广</p>
        </div>
    </div>
    <img class="line_style" style="margin-top: 30px" th:src="@{/images/line.jpg}">
    <div class="container" style="margin-top: 30px">
        <img th:src="@{/images/lable.jpg}" width="5" height="26">
        <p class="activity_lable_style">场景营销</p>

        <div class="markerting_card_bg_style parent" th:href="@{/collageMarketing/queryListData}">
            <img th:src="@{/images/collage_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">拼团活动</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/flashSalesMarketing/queryListData}">
            <img th:src="@{/images/flash_sales_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">秒杀活动</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/cutDownMarketing/queryListData}">
            <img th:src="@{/images/cut_down_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">砍价活动</p>
        </div>
    </div>
    <img class="line_style" style="margin-top: 30px" th:src="@{/images/line.jpg}">
    <div class="container" style="margin-top: 30px">
        <img th:src="@{/images/lable.jpg}" width="5" height="26">
        <p class="activity_lable_style">裂变营销</p>

        <div class="markerting_card_bg_style parent" th:href="@{/marketingShare/gotoShareMarketing}">
            <img th:src="@{/images/share_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">分享营销</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/marketingTogether/gotoTogetherMarketing}">
            <img th:src="@{/images/together_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">同行特惠</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/marketingExpanded/gotoMarketingExpanded}">
            <img th:src="@{/images/expend_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">全员推广</p>
        </div>
    </div>
    <img class="line_style" style="margin-top: 30px" th:src="@{/images/line.jpg}">
    <div class="container" style="margin-top: 30px">
        <img th:src="@{/images/lable.jpg}" width="5" height="26">
        <p class="activity_lable_style">营销操作</p>

        <div class="markerting_card_bg_style parent" th:href="@{/marketingPutOn}">
            <img th:src="@{/images/setting_send_coupon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">优惠券投放</p>
        </div>
        <div class="markerting_card_bg_style parent" style="margin-left: 30px" th:href="@{/pos/customerMarketingExpanded/gotoMainPage}">
            <img th:src="@{/images/expanded_customer_card_icon.png}" style="margin:10px" width="26px">
            <p class="activity_style" align="left">推广提成核算</p>
        </div>
    </div>

</div>

</body>
</html>
