<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在加载...</title>
</head>
<link rel="stylesheet" th:href="@{/css/public.css}" href="../css/widget.css" type="text/css" />

<style type="text/css">

    .main{
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
    }

</style>

<script type="text/javascript">

    var index=0;//每张图片的下标，

    function loading() {

        document.getElementById("imgchangediv").click();

        var start=setInterval(autoPlay,300);//开始轮播，每秒换一张图


    }
    //一轮过后，还是第二轮
    function autoPlay(){
        if(index>3){
            index=0;
        }
        changeImg(index++);
    }
    //对应圆圈和图片同步
    function changeImg(index){
        var list=document.getElementById('imgchangediv').getElementsByTagName('img');
        for(i=0;i<list.length;i++){
            list[i].style.display='none';
        }
        list[index].style.display='block';
    }

</script>
<body onload="loading()">

<div class="main">

    <div id="imgchangediv" align="center" style="margin-top: 10px;" th:onclick="@{|location='${basePath}${mLoadingModel.requestUrl}'|}">
        <img th:src="@{/images/loading_1.png}" style="display: block; "/>
        <img th:src="@{/images/loading_2.png}" style="display: none; "/>
        <img th:src="@{/images/loading_3.png}" style="display: none; "/>
        <img th:src="@{/images/loading_4.png}" style="display: none; "/>

    </div>
    <div>
        <p class="tips_fail_mini_text_style">正在加载数据，请稍后...</p>
    </div>
</div>


</body>
</html>