<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进货报表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css" />

    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/test/jeDate-test.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/skin/jedate.css}">
    <script type="text/javascript" th:src="@{/selectdate/src/jedate.js}"></script>

    <script type="text/javascript" src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>

</head>

<script type="text/javascript">
    function exportExcel() {
        var brandIdenty = $("input[name='brandIdenty']").val();
        var shopIdenty = $("input[name='shopIdenty']").val();
        var type = $("select[name='type']").val();
        var name = $("input[name='name']").val();
        var sourceName = $("input[name='sourceName']").val();
        var startDate = $("input[name='startDate']").val();
        var endDate = $("input[name='endDate']").val();
        var params = "brandIdenty=" + brandIdenty +
            "&shopIdenty=" + shopIdenty +
            "&type=" + type +
            "&name=" + name +
            "&sourceName=" + sourceName +
            "&startDate=" + startDate +
            "&endDate=" + endDate;
        location.href = "[[${basePath}]]/internal/purchaseSale/export/purchase?" + params;
    }
</script>

<body>

<div th:if="${mPurchSaleModel.rquestSource} eq '2'">
    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 20px">品项入口报表</label>


        <div class="parent container" style="margin-left: 82%; cursor: pointer" onclick="avascript :history.back(-1);">
            <img th:src="@{/images/back_icon.png}" src="../static/images/back_icon.png" width="21" height="21">
            <label class="text_navigation" style="margin-left: 10px">返回</label>
        </div>

    </div>
</div>


    <div class="parent" style="margin-top: 20px">
        <form method="post" name="queryData" action="" th:action="@{/internal/purchaseSale/purchase}" th:object="${mPurchSaleModel}">

            <input type="hidden" name="brandIdenty" th:value="${mPurchSaleModel.brandIdenty}">

            <input type="hidden" name="shopIdenty" th:value="${mPurchSaleModel.shopIdenty}">

            <label class="text_navigation" style="margin-left: 10px">类型</label>
            <select class="select_style" name="type" style="margin-left: 5px">
                <option value="">全部</option>
                <option th:selected="${mPurchSaleModel.type==1}" th:value="1">入库</option>
                <option th:selected="${mPurchSaleModel.type==2}" th:value="2">耗损</option>
            </select>

            <label class="text_navigation">品项名称</label>
            <input class="input_min_style" style="margin-left: 5px" type="text" th:value="${mPurchSaleModel.name}" name="name"/>

            <label class="text_navigation">货源名称</label>
            <input class="input_min_style" style="margin-left: 5px" type="text" th:value="${mPurchSaleModel.sourceName}" name="sourceName"/>

            <label class="text_navigation">时间</label>
            <input type="text" class="input_min_style" id="startDate" name="startDate" placeholder="设置查询起始时间" th:value="${mPurchSaleModel.startDate}">
            <label class="text_navigation">--</label>
            <input type="text" class="input_min_style" id="endDate" name="endDate" placeholder="设置查询结束时间" th:value="${mPurchSaleModel.endDate}">

            <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 5px">查询</button>

        </form>
        <div class="parent" id="export_excel" onclick="exportExcel()" style="margin-left: 5px;cursor:pointer;">
            <img th:src="@{/images/excel_icon.png}" src="../static/images/excel_icon.png" style="width: 21px;height: 21px">
            <span style="font-size: 10px;margin-left: 6px">数据导出</span>
        </div>

    </div>




<img class="line_style" th:src="@{/images/line.jpg}" style="margin-top: 20px">

    <div align="center" style="margin-top: 10px;margin-bottom: 26px">
        <table class="gridtablestyle" style="width: 95%; vertical-align: middle">
            <tr style="width: 100%">
                <th>品项名称</th>
                <th>类型</th>
                <th>数量</th>
                <th>采购单价</th>
                <th>采购金额</th>
                <th>货源名称</th>
                <th>入库时间</th>
            </tr>
            <tr th:each="item:${listData}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.typeName}"></td>
                <td>

                    <div th:switch="${item.type}">
                        <p th:case="'1'">
                            <span th:text="${item.number}"></span>
                        </p>
                        <p th:case="'2'">
                            -<span th:text="${item.number}"></span>
                        </p>
                    </div>
                </td>
                <td th:text="${item.purchasePrice}"></td>
                <td th:text="${item.totalPurchasePrice}"></td>
                <td th:text="${item.sourceName}"></td>
                <td th:text="${item.serverCreateTime}"></td>
            </tr>

            <tr bgcolor="#e1e1e1">
                <th> 合计: </th>
                <th colspan="3">采购总数量: <span th:text="${totalPurchaseCount}"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;采购总金额:<span th:text="${totalPurchaseAmount}"></span> </th>
                <th colspan="3">损耗总数量: <span th:text="${totalSHCount}"></span></th>
            </tr>
        </table>
    </div>

<script type="text/javascript" th:src="@{/selectdate/test/demo.js}"></script>

</body>
</html>