<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>次卡销售报表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/base.js" th:src="@{/js/base.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/test/jeDate-test.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/skin/jedate.css}">
    <script type="text/javascript" th:src="@{/selectdate/src/jedate.js}"></script>

    <script type="text/javascript" src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
</head>

<script type="text/javascript">
    function exportExcel() {
        var brandIdenty = $("input[name='brandIdenty']").val();
        var shopIdenty = $("input[name='shopIdenty']").val();
        var startDate = $("input[name='startDate']").val();
        var endDate = $("input[name='endDate']").val();
        var params = "brandIdenty=" + brandIdenty +
            "&shopIdenty=" + shopIdenty +
            "&startDate=" + startDate +
            "&endDate=" + endDate;
        location.href = "[[${basePath}]]/internal/cardTimeReport/export/excel?" + params;
    }
</script>

<body>

<div th:if="${mTradeModel.rquestSource} eq '2'">
    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 20px">次卡销售报表</label>


        <div class="parent container" style="margin-left: 82%; cursor: pointer" onclick="avascript :history.back(-1);">
            <img th:src="@{/images/back_icon.png}" src="../static/images/back_icon.png" width="21" height="21">
            <label class="text_navigation" style="margin-left: 10px">返回</label>
        </div>

    </div>
</div>

<div class="parent" style="margin-top: 20px">
    <form method="post" action="" th:action="@{/internal/cardTimeReport/cardTime}" th:object="${mTradeModel}">
        <input type="hidden" name="brandIdenty" th:value="${mTradeModel.brandIdenty}">

        <input type="hidden" name="shopIdenty" th:value="${mTradeModel.shopIdenty}">

        <!--<label class="text_navigation" style="margin-left: 20px">范围</label>-->
        <!--<select class="select_min_style" name="shopIdenty" style="margin-left: 5px">-->

        <!--<option value="">品牌下全门店</option>-->
        <!--<option th:selected="${mTradeModel.shopIdenty eq list.commercialId}" th:each="list:${listCommercial}" th:value="${list.commercialId}" th:text="${list.commercialName}"></option>-->

        <!--</select>-->


        <label class="text_navigation" style="margin-left: 10px">查询时间段</label>
        <input type="text" class="input_min_style" name="startDate" placeholder="设置查询起始时间" id="startDate"  th:value="${mTradeModel.startDate}">
        <label class="text_navigation">--</label>
        <input type="text" class="input_min_style" name="endDate" placeholder="设置查询结束时间" id="endDate"  th:value="${mTradeModel.endDate}">
        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>
    </form>
    <div class="parent" id="export_excel" onclick="exportExcel()" style="margin-left: 20px;cursor:pointer;">
        <img th:src="@{/images/excel_icon.png}" src="../static/images/excel_icon.png" style="width: 21px;height: 21px">
        <span style="font-size: 10px;margin-left: 6px">数据导出</span>
    </div>
</div>


<img class="line_style" th:src="@{/images/line.jpg}" style="margin-top: 20px">

<div class="container" style="margin: 20px">
    <img th:src="@{/images/lable.jpg}" width="5" height="26">
    <p style="font-weight: bold; margin-left: 6px">次卡服务销售排行榜</p>
</div>

<div style="width: 95%;height:400px; align-content: center; text-align: center; margin-left: 20px">
    <div id="container" style="width: 100%;height:400px;"></div>
    <p style="font-weight: bold; margin-left: 6px">次卡服务销售排行榜TOP 20</p>
</div>

<img class="line_style" th:src="@{/images/line.jpg}" style="margin-top: 50px">
<script th:inline="javascript">

    //=============销售概况================
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '次卡服务销售报表';

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data:['次卡服务销售数量','次卡服务销售额']
        },
        xAxis: [
            {
                type: 'category',
                data: [[${listDishName}]],
                axisPointer: {
                    type: 'shadow'
                },
                axisLabel:{
                    interval:0,
                    rotate:20
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '次卡服务销售数量',
                min: 0,
                max: [[${maxCount}]],
                interval: [[${intervalCount}]],
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                name: '次卡服务销售额',
                min: 0,
                max: [[${maxAmount}]],
                interval: [[${intervalAmount}]],
                axisLabel: {
                    formatter: '{value} 元'
                }
            }

        ],
        series: [
            {
                name:'次卡服务销售数量',
                type:'bar',
                barMaxWidth : 30,//柱图宽度
                data:[[${listSalesCount}]]
            },
            {
                name:'次卡服务销售额',
                type:'line',
                yAxisIndex: 1,
                data:[[${listSalesAmount}]]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>


<div align="center" style="margin-top: 10px; margin-bottom: 100px">
    <table class="gridtablestyle" style="width: 90%; vertical-align: middle">
        <tr style="width: 100%">
            <th>次卡服务名称</th>
            <th>销售单价</th>
            <th>销售数量</th>
            <th>销售额</th>

        </tr>
        <tr th:each="item:${listData}">

            <td th:text="${item.dishName}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.salseCount}"></td>
            <td th:text="${item.salesAmount}"></td>

        </tr>

        <tr>
            <th colspan="4">合计：销售服务次卡总数：<span th:text="${totalCount}" style="margin-right: 88px"></span>销售服务次卡总金额：<span th:text="${totalAmount}"></span></th>
        </tr>

    </table>
</div>


<script type="text/javascript" th:src="@{/selectdate/test/demo.js}"></script>

</body>
</html>