<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>报表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
    <link rel="stylesheet" th:href="@{/css/customer.css}" href="../static/css/customer.css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js" ></script>

</head>



<body>

<div class="parent top_view_style">

    <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

    <label class="text_navigation" style="margin-left: 20px">报表管理</label>
</div>

<div class='customer-com'>
    <div class="customer-centent">

        <div class="customer-main">
            <ul class="tab">
                <div th:if="${haveSalesReport} eq '1'">
                    <!--<li th:href="@{/internal/sales/salesReport(brandIdenty=${brandIdenty})}" class="parent">-->
                        <!--<div class="parent">-->
                            <!--<img th:src="@{/images/report_sales_icon.png}" class="image_size_style">-->
                            <!--<span>营业报表</span>-->
                        <!--</div>-->
                    <!--</li>-->

                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=1)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_sales_icon.png}" class="image_size_style">
                            <span>营业报表</span>
                        </div>
                    </li>

                </div>

                <div th:if="${haveDishReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=2)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_dish_icon.png}" class="image_size_style">
                            <span>品项销售报表</span>
                        </div>
                    </li>
                </div>
                <div th:if="${haveCardTimeReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=7)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_card_time.png}" class="image_size_style">
                            <span>次卡销售报表</span>
                        </div>
                    </li>
                </div>
                <div th:if="${haveCustomerSaveReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=8)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_customer_sace.png}" class="image_size_style">
                            <span>储值报表</span>
                        </div>
                    </li>
                </div>

                <div th:if="${haveMemberReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=3)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_customer_icon.png}" class="image_size_style">
                            <span>会员报表</span>
                        </div>
                    </li>
                </div>

                <div th:if="${haveMarketingReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=4)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_marketing_icon.png}" class="image_size_style">
                            <span>场景营销报表</span>
                        </div>
                    </li>
                </div>

                <div th:if="${haveCouponReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=5)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_coupon_icon.png}" class="image_size_style">
                            <span>优惠券报表</span>
                        </div>
                    </li>
                </div>

                <div th:if="${haveBookingReport} eq '1'">
                    <li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=6)}" class="parent">
                        <div class="parent">
                            <img th:src="@{/images/report_booking_icon.png}" class="image_size_style">
                            <span>预订报表</span>
                        </div>
                    </li>
                </div>

                <!--<div th:if="${haveBookingReport} eq '1'">-->
                    <!--<li th:href="@{/internal/request/loading(brandIdenty=${brandIdenty},shopIdenty=${shopIdenty},requestUrlType=6)}" class="parent">-->
                        <!--<div class="parent">-->
                            <!--<img th:src="@{/images/purchase_sale.png}" class="image_size_style">-->
                            <!--<span>进销存报表</span>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</div>-->

            </ul>

            <div class="select-tab" style="width: 100%; height: 100%">
                <div style="display:block; width: 100%; height: 100%" class="tabs">

                    <iframe id="dish_iframe" th:src="@{/internal/report/showEmptyReport}" width="100%" height="100%" style="border: 0px"></iframe>
                </div>
            </div>

        </div>

    </div>
</div>


</body>
</html>
