<!DOCTYPE html>
<html lang="en">
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

    div.parent {
        /* 启用弹性盒布局 */
        display: flex;
        /* 使子元素垂直居中 */
        align-items: center;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>会员到店报表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/base.js" th:src="@{/js/base.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/test/jeDate-test.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/skin/jedate.css}">
    <script type="text/javascript" th:src="@{/selectdate/src/jedate.js}"></script>

    <script type="text/javascript" src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
</head>

<script type="text/javascript">
    function exportExcel() {
        var brandIdenty = $("input[name='brandIdenty']").val();
        var shopIdenty = $("input[name='shopIdenty']").val();
        var startDate = $("input[name='startDate']").val();
        var endDate = $("input[name='endDate']").val();
        var params = "brandIdenty=" + brandIdenty +
            "&shopIdenty=" + shopIdenty +
            "&startDate=" + startDate +
            "&endDate=" + endDate;
        location.href = "[[${basePath}]]/internal/report/customerShop/excel?" + params;
    }
</script>

<body>

<div th:if="${mCustomerModel.rquestSource} eq '2'">
    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 20px">会员到店报表</label>


        <div class="parent container" style="margin-left: 80%; cursor: pointer" th:onclick="@{|location='${basePath}/internal/report/posReport?brandIdenty=${mCustomerModel.brandIdenty}&shopIdenty=${mCustomerModel.shopIdenty}'|}">
            <img th:src="@{/images/back_icon.png}" src="../static/images/back_icon.png" width="21" height="21">
            <label class="text_navigation" style="margin-left: 10px">返回</label>
        </div>

    </div>
</div>

<div class="parent" style="margin-top: 20px">
    <form method="post" action="" th:action="@{/internal/report/customerShop}" th:object="${mCustomerModel}">
        <input type="hidden" name="brandIdenty" th:value="${mCustomerModel.brandIdenty}">

        <input type="hidden" name="shopIdenty" th:value="${mCustomerModel.shopIdenty}">

        <input type="hidden" name="rquestSource" th:value="${mCustomerModel.rquestSource}">
        <!---->
        <!--<label class="text_navigation" style="margin-left: 20px">范围</label>-->
        <!--<select class="select_min_style" name="shopIdenty" style="margin-left: 5px">-->

        <!--<option value="">品牌下全门店</option>-->
        <!--<option th:selected="${mCustomerModel.shopIdenty eq list.commercialId}" th:each="list:${listCommercial}" th:value="${list.commercialId}" th:text="${list.commercialName}"></option>-->

        <!--</select>-->


        <label class="text_navigation" style="margin-left: 10px">查询时间段</label>
        <input type="text" class="input_min_style" name="startDate" placeholder="设置查询起始时间" id="startDate"  th:value="${mCustomerModel.startDate}">
        <label class="text_navigation">--</label>
        <input type="text" class="input_min_style" name="endDate" placeholder="设置查询结束时间" id="endDate"  th:value="${mCustomerModel.endDate}">
        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>
    </form>
    <div class="parent" id="export_excel" onclick="exportExcel()" style="margin-left: 20px;cursor:pointer;" th:if="${mCustomerModel.rquestSource} eq '1'">
        <img th:src="@{/images/excel_icon.png}" src="../static/images/excel_icon.png" style="width: 21px;height: 21px">
        <span style="font-size: 10px;margin-left: 6px">数据导出</span>
    </div>

</div>


<img class="line_style" th:src="@{/images/line.jpg}" style="margin-bottom: 10px;margin-top: 20px">

<div class="container" style="margin-left: 20px">
    <img th:src="@{/images/lable.jpg}" width="5" height="26">
    <p style="font-weight: bold; margin-left: 6px">每日会员到店情况</p>
</div>

<div style="width: 95%;height:400px; align-content: center; text-align: center";>
    <div id="container" style="width: 100%;height:400px;"></div>
    <p style="font-weight: bold; margin-left: 6px">每日会员到店分布</p>
</div>


<img class="line_style" th:src="@{/images/line.jpg}" style="margin-top: 50px">
<div class="container" style="margin: 20px">
    <img th:src="@{/images/lable.jpg}" width="5" height="26">
    <p style="font-weight: bold; margin-left: 6px">会员到店详情</p>
</div>

<script th:inline="javascript">

    //=============销售概况================
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '会员每日到店情况';

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data:['到店会员数','会员消费额度']
        },
        xAxis: [
            {
                type: 'category',
                data: [[${listTradeDate}]],
                axisPointer: {
                    type: 'shadow'
                },
                axisLabel:{
                    interval:0,
                    rotate:20
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '到店会员数',
                min: 0,
                max: [[${maxCount}]],
                interval: [[${intervalCount}]],
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                name: '会员消费额度',
                min: 0,
                max: [[${maxAmount}]],
                interval: [[${intervalAmount}]],
                axisLabel: {
                    formatter: '{value} 元'
                }
            }

        ],
        series: [
            {
                name:'到店会员数',
                type:'bar',
                barMaxWidth : 30,//柱图宽度
                data:[[${listCount}]]
            },
            {
                name:'会员消费额度',
                type:'line',
                yAxisIndex: 1,
                data:[[${listTradeAmount}]]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>

<div align="center" style="margin-top: 10px; margin-bottom: 100px; width: 100%">
    <table class="gridtablestyle" style="width: 95%; vertical-align: middle; table-layout: fixed;">
        <tr style="width: 100%">
            <th width="15%">会员名称</th>
            <th width="12%">消费类型</th>
            <th width="12%">消费金额</th>
            <th style="word-break: break-all;word-wrap: break-word">消费服务品项</th>
            <th width="17%">消费时间</th>

        </tr>
        <tr th:each="item:${listTradeDetail}">

            <td th:text="${item.customerName}"></td>
            <td>
                <div th:switch="${item.businessType}">
                    <p th:case="'1'">
                        服务消费
                    </p>
                    <p th:case="'2'">
                        余额充值
                    </p>
                    <p th:case="'3'">
                        服务次卡购买
                    </p>
                    <p th:case="'4'">
                        小程序服务购买
                    </p>
                </div>
            </td>
            <td th:text="${item.tradeAmount}"></td>
            <td style="word-break: break-all;word-wrap: break-word" th:text="${item.dishName}"></td>
            <td th:text="${item.tradeDate}"></td>

        </tr>
        <tr style="width: 100%">
            <th width="100%" colspan="5">合计：到店会员数：<span style="margin-right: 88px" th:text="${totalCustomer}"></span>消费总额：<span th:text="${totalAmount}"></span></th>
        </tr>
    </table>
</div>


<script type="text/javascript" th:src="@{/selectdate/test/demo.js}"></script>

</body>
</html>