<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员储值报表</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/widget.css}" href="../css/widget.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../css/common.css" type="text/css" />

    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/test/jeDate-test.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/selectdate/skin/jedate.css}">
    <script type="text/javascript" th:src="@{/selectdate/src/jedate.js}"></script>

    <script type="text/javascript" src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>

</head>

<script type="text/javascript">
    function exportExcel() {
        var brandIdenty = $("input[name='brandIdenty']").val();
        var shopIdenty = $("input[name='shopIdenty']").val();
        var startDate = $("input[name='startDate']").val();
        var endDate = $("input[name='endDate']").val();
        var params = "brandIdenty=" + brandIdenty +
            "&shopIdenty=" + shopIdenty +
            "&startDate=" + startDate +
            "&endDate=" + endDate;
        location.href = "[[${basePath}]]/internal/saveReport/export/excel?" + params;
    }
</script>

<body>

<div th:if="${mTradeModel.rquestSource} eq '2'">
    <div class="parent top_view_style">

        <img th:src="@{/images/lable.jpg}" width="5" height="26" style="margin-left: 20px">

        <label class="text_navigation" style="margin-left: 20px">储值报表</label>


        <div class="parent container" style="margin-left: 80%; cursor: pointer" th:onclick="@{|location='${basePath}/internal/report/posReport?brandIdenty=${mTradeModel.brandIdenty}&shopIdenty=${mTradeModel.shopIdenty}'|}">
            <img th:src="@{/images/back_icon.png}" src="../static/images/back_icon.png" width="21" height="21">
            <label class="text_navigation" style="margin-left: 10px">返回</label>
        </div>

    </div>
</div>


<div class="parent" style="margin-top: 20px">
    <form method="post" name="queryData" action="" th:action="@{/internal/saveReport/customerSave}" th:object="${mTradeModel}">
        <input type="hidden" name="brandIdenty" th:value="${mTradeModel.brandIdenty}">

        <input type="hidden" name="shopIdenty" th:value="${mTradeModel.shopIdenty}">

        <input type="hidden" name="rquestSource" th:value="${mTradeModel.rquestSource}">

        <!--<label class="text_navigation" style="margin-left: 20px">范围</label>-->
        <!--<select class="select_min_style" name="shopIdenty" style="margin-left: 5px">-->

        <!--<option value="">品牌下全门店</option>-->
        <!--<option th:selected="${mTradeModel.shopIdenty eq list.commercialId}" th:each="list:${listCommercial}" th:value="${list.commercialId}" th:text="${list.commercialName}"></option>-->

        <!--</select>-->

        <label class="text_navigation" style="margin-left: 10px">查询时间</label>
        <input type="text" class="input_min_style" id="startDate" name="startDate" placeholder="设置查询起始时间" th:value="${mTradeModel.startDate}">
        <label class="text_navigation">--</label>
        <input type="text" class="input_min_style" id="endDate" name="endDate" placeholder="设置查询结束时间" th:value="${mTradeModel.endDate}">

        <button class="orange_mine_button_style" value="" onclick="this" style="margin-left: 10px">查询</button>
    </form>
    <div class="parent" id="export_excel" onclick="exportExcel()" style="margin-left: 20px;cursor:pointer;" th:if="${mTradeModel.rquestSource} eq '1'">
        <img th:src="@{/images/excel_icon.png}" src="../static/images/excel_icon.png" style="width: 21px;height: 21px">
        <span style="font-size: 10px;margin-left: 6px">数据导出</span>
    </div>

</div>


<img class="line_style" th:src="@{/images/line.jpg}" style="margin-bottom: 20px;margin-top: 20px">

<div class="container" style="margin-left: 20px">
    <img th:src="@{/images/lable.jpg}" width="5" height="26">
    <p style="font-weight: bold; margin-left: 6px">会员储值报表</p>
</div>

<div style="width: 95%;height:400px; align-content: center; text-align: center; margin-left: 20px">
    <div id="container" style="width: 100%;height:100%;"></div>
</div>

<img class="line_style" th:src="@{/images/line.jpg}" style="margin-top: 50px">

<div class="container" style="margin: 20px">
    <img th:src="@{/images/lable.jpg}" width="5" height="26">
    <p style="font-weight: bold; margin-left: 6px">会员储值明细</p>
</div>

<div align="center" style="margin-top: 10px; margin-bottom: 100px; width: 100%">
    <table class="gridtablestyle" style="width: 95%; vertical-align: middle; table-layout: fixed;">
        <tr style="width: 100%">
            <th>会员名称</th>
            <th>储值金额</th>
            <th>充值时间</th>

        </tr>
        <tr th:each="item:${listDetailData}">

            <td th:text="${item.customerName}"></td>
            <td th:text="${item.salesAmount}"></td>
            <td th:text="${item.createDate}"></td>

        </tr>
        <tr style="width: 100%">
            <th width="100%" colspan="3">合计：储值总单数：<span style="margin-right: 88px" th:text="${totalCount}"></span>储值总金额：<span th:text="${totalAmount}"></span></th>
        </tr>
    </table>
</div>

<script th:inline="javascript">

    //=============会员储值报表================
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '会员储值报表';

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data:['储值交易金额','储值交易单数']
        },
        xAxis: [
            {
                type: 'category',
                data: [[${listCreateDate}]],
                axisPointer: {
                    type: 'shadow'
                },
                axisLabel:{
                    interval:0,
                    rotate:20
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '储值交易金额',
                min: 0,
                max: [[${maxAmount}]],
                interval: [[${intervalAmount}]],
                axisLabel: {
                    formatter: '{value}元'
                }
            },
            {
                type: 'value',
                name: '储值交易单数',
                min: 0,
                max: [[${maxCount}]],
                interval: [[${intervalCount}]],
                axisLabel: {
                    formatter: '{value} 笔'
                }
            }

        ],
        series: [
            {
                name:'储值交易金额',
                type:'bar',
                barMaxWidth : 30,//柱图宽度
                data:[[${listSalesAmount}]]
            },
            {
                name:'储值交易单数',
                type:'line',
                yAxisIndex: 1,
                data:[[${listTradeCount}]]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>


<script type="text/javascript" th:src="@{/selectdate/test/demo.js}"></script>

</body>
</html>