<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统操作手册</title>
</head>
<style type="text/css">

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #FFFFFF;
    }

</style>

<link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" />
<link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
<link rel="stylesheet" th:href="@{/css/customer.css}" href="../static/css/customer.css" />
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js" ></script>
<script type="text/javascript" th:src="@{/js/base.js}" src="../static/js/base.js" ></script>

<body>

<div class="page_container">



    <div class="page_page">

        <div class='customer-com' style="height: 920px">
            <div class="customer-centent">
                <div class="parent" style="background: #f3f3f3;border: 1px solid #e1e1e1;height: 50px">

                    <div class="parent" style="cursor: pointer;width: 200px" th:onclick="@{|location='${basePath}/internal/download/page'|}" >
                        <img th:src="@{/images/back_icon.png}" style="margin:10px" width="20px">
                        <p class="back_lable_style">返回</p>
                    </div>

                    <div class="panel-heading" align="center" style="padding: 16px;width: 100%;">
                        <h3>系统操作手册</h3>
                    </div>
                </div>

                <div class="customer-main" style="height: 920px;">
                    <ul class="tab" style="height: 920px">
                        <li th:href="@{/internal/showPDF/pdfDetail(type=1)}" class="current">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>系统结构</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=2)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>商户配置</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=3)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>员工管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=4)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>品项管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=5)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>会员管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=6)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>营销管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=7)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>拼团管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=8)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>秒杀管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=9)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>砍价管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=10)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>次卡管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=11)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>同行特惠</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=12)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>分享营销</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=13)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>推广有礼</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=14)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>员工绩效</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=15)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>预约管理</span>
                            </div>
                        </li>
                        <li th:href="@{/internal/showPDF/pdfDetail(type=16)}">
                            <div class="parent">
                                <img th:src="@{/images/handbook_icon.png}" class="image_size_style">
                                <span>开单收银</span>
                            </div>
                        </li>
                        </li>

                    </ul>

                    <div class="select-tab" style="width: 100%; height: 100%">
                        <div style="display:block; width: 100%; height: 100%" class="tabs">
                            <iframe id="dish_iframe" th:src="@{/internal/showPDF/pdfDetail(type=1)}" width="100%" height="100%" style="border: 0px"></iframe>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="page_footer">
        <div class="container parent_h" style="height: 100%">
            <img th:src="@{/images/bottom_logo .png}" style="margin:10px;cursor:pointer;" width="100px" onclick="javascript:window.open('http://www.zhongmeiyunfu.com/');">
            蜀ICP备18028814号-1 众美云服科技有限公司提供技术支持
        </div>
    </div>

</div>


</body>
</html>