<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统操作手册</title>
</head>

<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.media.js" th:src="@{/js/jquery.media.js}"></script>
<link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" type="text/css"/>
<link rel="stylesheet" th:href="@{/css/widget.css}" href="../static/css/widget.css" type="text/css"/>
<link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css"/>
<link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css"/>

<script type="text/javascript">
    $(function() {
        $('a.media').media({width:900, height:1000});
        $('a.mediase').media({width:900, height:1000});
    });
</script>

<body>

<div id="container">
    <div id="header">
        <div class="panel-heading" align="center" style="padding: 20px">
            <h2>系统操作手册</h2>
        </div>
        <IMG style="background-color: #e4e4e4;width: 100%;height: 1px">
    </div>

    <div id="page" class="page">
        <div style="width: 100%;height: 100%;display: flex;">
            <div id="left" style="float: top;width: 200px;height:100%; background-color: #f1f1f1;padding: 20px;">
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">系统结构</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">门店管理</p>
                </div>

                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">员工管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">品项管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">会员管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">营销管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">拼团管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">秒杀管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">砍价管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">次卡管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">同行特惠</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">分享营销</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">推广有礼</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">员工绩效</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">预约管理</p>
                </div>
                <div class="parent" style="cursor: pointer;padding: 10px" th:onclick="@{|location='${basePath}/internal/showPDF/installationManual'|}" >
                    <img th:src="@{/images/handbook_icon.png}" style="margin:10px" width="25px">
                    <p class="notify_lable_style">开单收银</p>
                </div>
            </div>
            <div id="right" style="float: right;width: 100%;height:100%;">
                <center>
                    <div class="panel panel-primary">
                        <div class="panel-body" >
                            <a class="media" th:href="@{http://media.zhongmeiyunfu.com/system_frame.pdf}" href="http://media.zhongmeiyunfu.com/system_frame.pdf"></a>
                        </div>
                </center>
            </div>
        </div>
    </div>

    <div id="footer" class="footer">
        <div class="container parent_h" style="height: 100%">
            <img th:src="@{/images/bottom_logo .png}" style="margin:10px;cursor:pointer;" width="100px" onclick="javascript:window.open('http://www.zhongmeiyunfu.com/');">
            蜀ICP备18028814号-1 众美云服科技有限公司提供技术支持
        </div>
    </div>
</div>


</body>
</html>